data/myAppCim-v0.1/software/software.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by CIS (Max-Planck-Institut) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../data/data.xsd"/>
	<xs:element name="Compiler" type="Compiler"/>
	<xs:complexType name="Compiler">
		<xs:annotation>
			<xs:documentation>Gives information about the compiler referenced by the TechnicalProperties of a ModelComponent.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="compilerLanguage" type="xs:string">
				<xs:annotation>
					<xs:documentation>The programming language being compiled.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="compilerName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The name of the compiler.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="compilerVersion" type="xs:string">
				<xs:annotation>
					<xs:documentation>The version of the compiler</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="compilerOptimisation" type="xs:string">
				<xs:annotation>
					<xs:documentation>Any optimisation flags used with the compiler.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="compilerLibrary" type="xs:string"/>
			<xs:element name="compilerEnvironmentVariables" type="xs:string">
				<xs:annotation>
					<xs:documentation>Any environment variables used by the compiler.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PropertyGroup" type="PropertyGroup"/>
	<xs:complexType name="PropertyGroup">
		<xs:sequence>
			<xs:element name="PropertyGroup" type="PropertyGroup"/>
			<xs:element name="property" type="ModelProperty" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="ModelProperty" type="ModelProperty"/>
	<xs:complexType name="ModelProperty">
		<xs:annotation>
			<xs:documentation>(Was previously called ScientificProperty).  A ModelProperty is a parameter which is modeled by a component.  These properties may be coupled via a connection.  They may also be related to one other.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="value" type="xs:string" minOccurs="0"/>
			<xs:element name="DataProperty" type="DataProperty"/>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" use="optional"/>
		<xs:attribute name="type" type="xs:string" use="optional"/>
		<xs:attribute name="name" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:element name="DataProperty" type="DataProperty"/>
	<xs:complexType name="DataProperty">
		<xs:annotation>
			<xs:documentation>This is used as an association class to link ModelProperties with information specific to the data package (Content, Extent, etc.).  A ModelProperty has a DataProperty when it is derived from a data file.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DataContent" type="DataContent"/>
			<xs:element name="DataExtent" type="DataExtent"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="OriginType">
		<xs:annotation>
			<xs:documentation>An enumeration describing the source of a ModelProperty.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="internal">
				<xs:annotation>
					<xs:documentation>This property's value is set internally.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="external">
				<xs:annotation>
					<xs:documentation>This property's value is set externally; ie: it comes from a file.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="coupled">
				<xs:annotation>
					<xs:documentation>This property's value is set by another component; ie: it must be coupled.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Connection" type="Connection"/>
	<xs:complexType name="Connection">
		<xs:annotation>
			<xs:documentation>A Connection represents a link from a source ModelProperty to a target ModelProperty.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="type" type="CouplingType">
				<xs:annotation>
					<xs:documentation>The type of Connection</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rate" type="CouplingRate">
				<xs:annotation>
					<xs:documentation>All information having to do with the rate of this connection; the times that it is active.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="transformer" type="ProcessorComponent" minOccurs="0"/>
			<xs:element name="target" type="ModelProperty"/>
			<xs:element name="source" type="ModelProperty"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ParallelisationType" type="ParallelisationType"/>
	<xs:complexType name="ParallelisationType">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Machine" type="Machine"/>
	<xs:complexType name="Machine">
		<xs:annotation>
			<xs:documentation>Information about the machine a component is deployed on.  Forms part of a component's TechnicalProperties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="machineName" type="xs:string">
				<xs:annotation>
					<xs:documentation>the name of the machine onto which this component is deployed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="machineSystem" type="xs:string"/>
			<xs:element name="machineLibrary" type="xs:string"/>
			<xs:element name="machineEnvironmentVariables" type="xs:string"/>
			<xs:element name="machineDescription" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Coupling" type="Coupling"/>
	<xs:complexType name="Coupling">
		<xs:annotation>
			<xs:documentation>A coupling represents a set of Connections between a source and target component.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="rate" type="CouplingRate" minOccurs="0"/>
			<xs:element name="Connection" type="Connection" maxOccurs="unbounded"/>
			<xs:element name="source" type="SoftwareComponent"/>
			<xs:element name="target" type="SoftwareComponent"/>
		</xs:sequence>
		<xs:attribute name="complete" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>If "true" then the coupling is fully-specified.  If "false" then not every Connection has been described within the coupling.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="cType" type="CouplingType" use="optional"/>
	</xs:complexType>
	<xs:element name="SoftwareComponent" type="SoftwareComponent"/>
	<xs:complexType name="SoftwareComponent">
		<xs:sequence>
			<xs:element name="machine" type="Machine"/>
			<xs:element name="compiler" type="Compiler"/>
			<xs:element name="parent" type="SoftwareComponent"/>
			<xs:element name="composition" type="Coupling" maxOccurs="unbounded"/>
			<xs:element name="scientificProperties" type="PropertyGroup" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="type" type="ComponentType" use="optional">
			<xs:annotation>
				<xs:documentation>Describes the type of component (ie: transformer, atmosphere, ocean, etc.).  More precise descriptions are possible using a combination of the description, longName, and standardName attributes.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="embedded" type="xs:boolean" use="optional">
			<xs:annotation>
				<xs:documentation>An embedded component cannot exist on its own as an atomic piece of software; instead it is embedded within another (parent) component.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="CouplingRate" type="CouplingRate"/>
	<xs:complexType name="CouplingRate">
		<xs:annotation>
			<xs:documentation>Information about the timing of an individual Connection</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="rate" type="xs:integer">
				<xs:annotation>
					<xs:documentation>The number of units inbetween each active connection.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="units" type="xs:time">
				<xs:annotation>
					<xs:documentation>The units of time that the connection rate is measured in</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="connectionStart" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The time that this connection starts being active</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="connectionStop" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The time that this connection stops being active</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CouplingType">
		<xs:annotation>
			<xs:documentation>The ConnectionType enumeration describes the mechanism of transport for a connection.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="embedded"/>
			<xs:enumeration value="argument-passing">
				<xs:annotation>
					<xs:documentation>a "direct" connection; implies a sequential rather than parallel simulation.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MPI"/>
			<xs:enumeration value="OASIS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ComponentType">
		<xs:annotation>
			<xs:documentation>An enumeration of types of ModelComponent.  This includes things like atmosphere &amp;amp; ocean models, radiation schemes, and transformers.  More detailed descriptions are to be found in a component's StandardName(s).  CIM best-practice is to describe every component for which there is a named ComponentType as a separate component, even if it is not a separate unit of software (ie: even if it is embedded), instead of as a (set of) ModelParameters.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="atmosphere"/>
			<xs:enumeration value="ocean"/>
			<xs:enumeration value="radiation"/>
			<xs:enumeration value="transformer"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="ModelComponent" type="ModelComponent"/>
	<xs:complexType name="ModelComponent">
		<xs:complexContent>
			<xs:extension base="SoftwareComponent">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FileComponent" type="FileComponent"/>
	<xs:complexType name="FileComponent">
		<xs:complexContent>
			<xs:extension base="SoftwareComponent">
				<xs:sequence>
					<xs:element name="fileName" type="xs:string"/>
					<xs:element name="filePath" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ProcessorComponent" type="ProcessorComponent"/>
	<xs:complexType name="ProcessorComponent">
		<xs:complexContent>
			<xs:extension base="SoftwareComponent">
				<xs:sequence>
					<xs:element name="timeOperation" type="xs:string"/>
					<xs:element name="statistics" type="xs:string"/>
					<xs:element name="localTransformation" type="xs:string"/>
					<xs:element name="regridding" type="xs:string"/>
					<xs:element name="conservation" type="xs:boolean"/>
					<xs:element name="algebraicCombination" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="TransformerTimeOperation">
		<xs:restriction base="xs:string">
			<xs:enumeration value="average"/>
			<xs:enumeration value="accumulation"/>
			<xs:enumeration value="minimum"/>
			<xs:enumeration value="maximum"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TransformerStatisticsType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="masked_points"/>
			<xs:enumeration value="notmasked_points"/>
			<xs:enumeration value="all_points"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
