newmoon results/cimData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:cim="http://www.purl.org/org/esmetadata/cim/1.91/schemas" targetNamespace="http://www.purl.org/org/esmetadata/cim/1.91/schemas" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>A package containing classes relating to the storage of data to support simulations etc.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="cimCommon.xsd"/>
    <include schemaLocation="cimGrids.xsd"/>
    <element name="M4D_DataCollection" substitutionGroup="gml:AbstractFeature" type="cim:M4D_DataCollectionType">
        <annotation>
            <documentation>A DataObject describes a unit of data.  DataObjects can be grouped hierarchically.  The attributes hierarchyLevelName and hierarchyLevelValue describe how objects are grouped.  </documentation>
        </annotation>
    </element>
    <complexType name="M4D_DataCollectionType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="dataStatus" type="cim:M4D_DataStatusTypeType">
                        <annotation>
                            <documentation>The current status of the data - is it complete, or is this metadata description all that is available, or is the data continuously supplemented.</documentation>
                        </annotation>
                    </element>
                    <element name="acronym" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="hierarchyLevelName" type="cim:M4D_DataHierarchyTypeType">
                        <annotation>
                            <documentation>What level in the data hierarchy (constructed by the self-referential parent/child aggregations) is this DataObject.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="hierarchyLevelValue" type="string">
                        <annotation>
                            <documentation>What is the name of the specific HierarchyLevel this DataObject is being organised at (ie: if the HierarchyLevel is "run" then the name might be the runid).  The data type was M4C_PropertyValue, but this doesn't provide any slots to specify names, so it has been changed to CharacterString. If a value range (as provided by M4C_PropertyValue) were required, FC_FeatureAttribute could be used instead.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="keyword" type="string">
                        <annotation>
                            <documentation>Descriptive keyword used when searching for DataObjects (this is not the same as shortName / longName / description).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="geometryModel" type="gml:GeometryPropertyType"/>
                    <element name="documentMetadata" type="cim:M4C_DocumentMetadataPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="storage" type="cim:M4D_DataStoragePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="restriction" type="gmd:MD_Constraints_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="extent" type="gmd:EX_Extent_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="distribution" type="gmd:MD_Distribution_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="citation" type="gmd:CI_Citation_PropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="content" type="cim:M4D_DataAtomPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="childObject" type="cim:M4D_DataCollectionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4D_DataCollectionPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4D_DataCollection"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4D_DataStorage" substitutionGroup="gml:AbstractGML" type="cim:M4D_DataStorageType">
        <annotation>
            <documentation>Describes the method that the DataObject is stored. An abstract class with specific child classes for each supported method.</documentation>
        </annotation>
    </element>
    <complexType name="M4D_DataStorageType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="dataSize" type="integer"/>
                    <element maxOccurs="1" minOccurs="0" name="dataFormat" type="gmd:MD_Format_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="dataLocation" type="gmd:CI_OnlineResource_PropertyType">
                        <annotation>
                            <documentation>Points to the actual location of the data (used to be dataURI, a feature of DataObject).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="modificationDate" type="dateTime">
                        <annotation>
                            <documentation>The date that the file (or other storage medium) has been updated</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4D_DataStoragePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4D_DataStorage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4D_DbStorage" substitutionGroup="cim:M4D_DataStorage" type="cim:M4D_DbStorageType">
        <annotation>
            <documentation>Contains attributes to describe a DataObject being stored in a database.</documentation>
        </annotation>
    </element>
    <complexType name="M4D_DbStorageType">
        <complexContent>
            <extension base="cim:M4D_DataStorageType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="dbAccessString" type="string"/>
                    <element name="dbName" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="owner" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="dbTable" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4D_DbStoragePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4D_DbStorage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4D_IpStorage" substitutionGroup="cim:M4D_DataStorage" type="cim:M4D_IpStorageType"/>
    <complexType name="M4D_IpStorageType">
        <complexContent>
            <extension base="cim:M4D_DataStorageType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="protocol" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="host" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="path" type="string"/>
                    <element name="fileName" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4D_IpStoragePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4D_IpStorage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4D_FileStorage" substitutionGroup="cim:M4D_DataStorage" type="cim:M4D_FileStorageType">
        <annotation>
            <documentation>Contains attributes to describe a DataObject stored as a single file.</documentation>
        </annotation>
    </element>
    <complexType name="M4D_FileStorageType">
        <complexContent>
            <extension base="cim:M4D_DataStorageType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="fileSystem" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="path" type="string"/>
                    <element name="fileName" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4D_FileStoragePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4D_FileStorage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4D_DataAtom" substitutionGroup="gml:AbstractGML" type="cim:M4D_DataAtomType">
        <annotation>
            <documentation>The contents of the data object; like ISO: MD_ContentInformation.  The "content" of a DataObject corresponds to a variable (in THREDDS).</documentation>
        </annotation>
    </element>
    <complexType name="M4D_DataAtomType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="aggregation" type="string">
                        <annotation>
                            <documentation>Describes how the content has been aggregated together: sum, min, mean, max, ...</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="frequency" type="cim:M4C_TimeUnitTypeType">
                        <annotation>
                            <documentation>Describes the frequency of the data content: daily, hourly, ...</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="grid" type="cim:M4G_GridSpecPropertyType">
                        <annotation>
                            <documentation>A reference to the grid that this property maps onto; may override the ModelComponent grid.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="citation" type="gmd:CI_Citation_PropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4D_DataAtomPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4D_DataAtom"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="M4D_DataStatusTypeType">
        <restriction base="string">
            <enumeration value="metadataOnly">
                <annotation>
                    <documentation>This DataObject is incomplete - it is described in metadata but the actual data has not yet been linked to it.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="complete">
                <annotation>
                    <documentation>This DataObject is complete.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="continuouslySupplemented">
                <annotation>
                    <documentation>This DataObject's actual data is continuously updated.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="M4D_DataHierarchyTypeType">
        <union memberTypes="cim:M4D_DataHierarchyTypeEnumerationType cim:M4D_DataHierarchyTypeOtherType"/>
    </simpleType>
    <simpleType name="M4D_DataHierarchyTypeEnumerationType">
        <restriction base="string">
            <enumeration value="stream"/>
            <enumeration value="run"/>
            <enumeration value="institute"/>
            <enumeration value="product"/>
            <enumeration value="odel"/>
            <enumeration value="experiment"/>
            <enumeration value="frequency"/>
            <enumeration value="realm"/>
            <enumeration value="variable"/>
            <enumeration value="ensembleMember"/>
        </restriction>
    </simpleType>
    <simpleType name="M4D_DataHierarchyTypeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
</schema>