newmoon results/cimProcess.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:cim="http://www.purl.org/org/esmetadata/cim/1.91/schemas" targetNamespace="http://www.purl.org/org/esmetadata/cim/1.91/schemas" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>A package containing details of the process description for a simulation.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <include schemaLocation="cimActivity.xsd"/>
    <include schemaLocation="cimData.xsd"/>
    <include schemaLocation="cimCommon.xsd"/>
    <include schemaLocation="cimGrids.xsd"/>
    <element name="M4P_ConfiguredProcess" substitutionGroup="cim:M4P_NumericalProcess" type="cim:M4P_ConfiguredProcessType">
        <annotation>
            <documentation>A numerical process that is configured.  This may include simulations or data transformation processes.</documentation>
        </annotation>
    </element>
    <complexType name="M4P_ConfiguredProcessType">
        <complexContent>
            <extension base="cim:M4P_NumericalProcessType">
                <sequence>
                    <element name="scientificDescription" type="cim:M4P_ConfiguredScienceDescriptionPropertyType"/>
                    <element name="softwareDescription" type="cim:M4P_ConfiguredSoftwareDescriptionPropertyType"/>
                    <element name="configures" type="cim:M4P_UnconfiguredProcessPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_ConfiguredProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_ConfiguredProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_NumericalProcess" substitutionGroup="gml:AbstractFeature" type="cim:M4P_NumericalProcessType">
        <annotation>
            <documentation>The numerical process describes the actual procedure that is used by compositeObservation to generate the result, and may include algorithms, instruments, methods, implemented software or a combination of these.  It is a specialisation of OM_Process.

A numerical process may also involve transformations of various kinds (for example, grid transformations, time transformations) or data processes.</documentation>
        </annotation>
    </element>
    <complexType name="M4P_NumericalProcessType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="description" nillable="true" type="string"/>
                    <element name="type" type="cim:M4P_NumericalProcessTypeType">
                        <annotation>
                            <documentation>Describes the type of component.</documentation>
                        </annotation>
                    </element>
                    <element name="shortName" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="longName" type="string"/>
                    <element name="documentMetadata" type="cim:M4C_DocumentMetadataPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="generatedObservation" type="cim:M4A_ObservationPropertyType"/>
                    <element name="simulates" type="gml:FeaturePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="compositeObservation" type="cim:M4A_CompositeObservationPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="previousVersion" type="cim:M4P_NumericalProcessPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_NumericalProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_NumericalProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_UnconfiguredProcess" substitutionGroup="cim:M4P_NumericalProcess" type="cim:M4P_UnconfiguredProcessType">
        <annotation>
            <documentation>A numerical process that is unconfigured, for which a series of configuration options is available to choose from.</documentation>
        </annotation>
    </element>
    <complexType name="M4P_UnconfiguredProcessType">
        <complexContent>
            <extension base="cim:M4P_NumericalProcessType">
                <sequence>
                    <element name="scientificDescription" type="cim:M4P_UnconfiguredScienceDescriptionPropertyType"/>
                    <element name="softwareDescription" type="cim:M4P_UnconfiguredSoftwareDescriptionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_UnconfiguredProcessPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_UnconfiguredProcess"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_PossiblePropertyValue" substitutionGroup="gml:AbstractGML" type="cim:M4P_PossiblePropertyValueType">
        <annotation>
            <documentation>The possible value for a property, specified as an enumerated set or a range.</documentation>
        </annotation>
    </element>
    <complexType name="M4P_PossiblePropertyValueType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="possibleRangeMaximum" type="double">
                        <annotation>
                            <documentation>The maximum value in a range of possible values for an unconfigured model.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="possibleRangeMinimum" type="double">
                        <annotation>
                            <documentation>The minimum value in a range of possible values for an unconfigured model.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="possibleSet" type="gfc:FC_ListedValue_PropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_PossiblePropertyValuePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_PossiblePropertyValue"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_SimulatedProperty" substitutionGroup="cim:M4P_Property" type="cim:M4P_SimulatedPropertyType">
        <annotation>
            <documentation>The use of a property by a particular numerical process, either as part of a set of possible uses (for an unconfigured process) or an actual use (for a configured process).</documentation>
        </annotation>
    </element>
    <complexType name="M4P_SimulatedPropertyType">
        <complexContent>
            <extension base="cim:M4P_PropertyType">
                <sequence>
                    <element name="propertyRole" type="cim:M4P_PropertyRoleTypeType">
                        <annotation>
                            <documentation>The role that the property in the process (input or output).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="grid" type="cim:M4G_GridSpecPropertyType">
                        <annotation>
                            <documentation>A reference to the grid that this property maps onto.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="timeProfile" type="cim:M4P_TimingPropertyType">
                        <annotation>
                            <documentation>All information having to do with the rate of this connection; the times that it is active.</documentation>
                        </annotation>
                    </element>
                    <element name="partition" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_SimulatedPropertyPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_SimulatedProperty"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_Timing" substitutionGroup="gml:AbstractGML" type="cim:M4P_TimingType">
        <annotation>
            <documentation>Provides information about the rate of couplings and connections and/or the timing characteristics of individual components - for example, the units of time that a component is able to model (in a single timestep).

This may need to be expanded in the future, because timings may be described in other ways that rate (e.g. sequence).</documentation>
        </annotation>
    </element>
    <complexType name="M4P_TimingType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="rate" type="integer"/>
                    <element name="units" type="cim:M4C_TimeUnitTypeType"/>
                    <element name="variableRate" type="boolean">
                        <annotation>
                            <documentation>Describes whether or not the model supports a variable timestep.  If set to true, then rate should not be specified.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_TimingPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_Timing"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_ActualConfiguration" substitutionGroup="cim:M4P_PossibleConfigurations" type="cim:M4P_ActualConfigurationType">
        <annotation>
            <documentation>The actual configuration used for a particular scientific or software process. This instances of this class are a subset of the instances of M4P_PossibleConfigurations</documentation>
        </annotation>
    </element>
    <complexType name="M4P_ActualConfigurationType">
        <complexContent>
            <extension base="cim:M4P_PossibleConfigurationsType"/>
        </complexContent>
    </complexType>
    <complexType name="M4P_ActualConfigurationPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_ActualConfiguration"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_SpatialRegridding" substitutionGroup="gml:AbstractGML" type="cim:M4P_SpatialRegriddingType">
        <annotation>
            <documentation>Characteristics of the scheme used to interpolate a field from one grid (source grid) to another (target grid).

Documents should use either the spatialRegriddingStandardMethod _or_ the spatialRegriddingUserMethod, but not both.</documentation>
        </annotation>
    </element>
    <complexType name="M4P_SpatialRegriddingType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="spatialRegriddingDimension" type="cim:M4P_SpatialRegriddingDimensionTypeType"/>
                    <element maxOccurs="1" minOccurs="0" name="spatialRegriddingStandardMethod" type="cim:M4P_SpatialRegriddingStandardMethodTypeType"/>
                    <element maxOccurs="1" minOccurs="0" name="spatialRegriddingUserMethod" type="cim:M4P_SpatialRegriddingUserMethodPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_SpatialRegriddingPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_SpatialRegridding"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_ConfiguredScienceDescription" substitutionGroup="cim:M4P_ScienceDescription" type="cim:M4P_ConfiguredScienceDescriptionType"/>
    <complexType name="M4P_ConfiguredScienceDescriptionType">
        <complexContent>
            <extension base="cim:M4P_ScienceDescriptionType">
                <sequence>
                    <element name="configuration" type="cim:M4P_ActualConfigurationPropertyType"/>
                    <element name="configures" type="cim:M4P_UnconfiguredScienceDescriptionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_ConfiguredScienceDescriptionPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_ConfiguredScienceDescription"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_ComponentLanguage" substitutionGroup="gml:AbstractGML" type="cim:M4P_ComponentLanguageType">
        <annotation>
            <documentation>Details of the programming language a component is written in. There is an assumption that all EntryPoints use the same ComponentLanguage.</documentation>
        </annotation>
    </element>
    <complexType name="M4P_ComponentLanguageType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="name" type="string">
                        <annotation>
                            <documentation>The name of the language</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_ComponentLanguagePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_ComponentLanguage"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_ScienceDescription" substitutionGroup="gml:AbstractGML" type="cim:M4P_ScienceDescriptionType">
        <annotation>
            <documentation>A description of the scientific part of the process, including details of the procedure (algorithm) and associated aspects.  This does not include runtime properties, as these are attached to compositeObservation, or details of software implementation.</documentation>
        </annotation>
    </element>
    <complexType name="M4P_ScienceDescriptionType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="conservative" type="boolean">
                        <annotation>
                            <documentation>A conservative component conserves fluxes across corresponding times and areas for different grids.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="procedureDescription" type="string">
                        <annotation>
                            <documentation>A textual description of the scientific aspects of the process.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="documentation" type="gmd:CI_Citation_PropertyType">
                        <annotation>
                            <documentation>A reference to any documentation describing the scientific aspects of the process.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="3" minOccurs="0" name="spatialRegridding" type="cim:M4P_SpatialRegriddingPropertyType">
                        <annotation>
                            <documentation>Characteristics of the scheme used to interpolate a field from one grid (source grid) to another (target grid) </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="timeTransformation" type="cim:M4P_TimeTransformationPropertyType">
                        <annotation>
                            <documentation>Temporal transformation performed on the coupling field before or after regridding onto the target grid. </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="timing" type="cim:M4P_TimingPropertyType">
                        <annotation>
                            <documentation>Describes information about the time steps used by the simulation.</documentation>
                        </annotation>
                    </element>
                    <element name="" type="cim:M4P_ScienceDescriptionPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="algorithm" type="gmi:LE_Algorithm_PropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_ScienceDescriptionPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_ScienceDescription"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_TimeTransformation" substitutionGroup="gml:AbstractGML" type="cim:M4P_TimeTransformationType">
        <annotation>
            <documentation>Characteristics of the scheme used to interpolate a field from one grid (source grid) to another (target grid) </documentation>
        </annotation>
    </element>
    <complexType name="M4P_TimeTransformationType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="mappingType" type="cim:M4P_TimeMappingTypeType"/>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_TimeTransformationPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_TimeTransformation"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_Interaction" substitutionGroup="gml:AbstractGML" type="cim:M4P_InteractionType">
        <annotation>
            <documentation>An interaction between a pair of processes, properties, data atoms and data collections.  It is not valid for Data Atoms and Data Collections to interact with themselves or with each other, but properties and processes may interact with themselves, with each other or with data atoms or data collections.</documentation>
        </annotation>
    </element>
    <complexType name="M4P_InteractionType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                    <element name="interactionType" type="cim:M4P_InteractionTypeType">
                        <annotation>
                            <documentation>The type of interaction between the two processes, encompassing relationships between processes and other workflow related interactions.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="type" type="cim:M4P_ConnectionTypeType">
                        <annotation>
                            <documentation>The type of Connection</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="purpose" type="cim:M4C_DataPurposeTypeType">
                        <annotation>
                            <documentation>Describes why this connection is being made.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="timeLag" type="cim:M4P_TimeLagPropertyType">
                        <annotation>
                            <documentation>Information about the time lag between inputs and outputs in an interaction (sometimes such time lags are required).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="source" type="cim:M4P_SimulatedPropertyPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="isMediatedBy" type="cim:M4A_MediationPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="target" type="cim:M4P_SimulatedPropertyPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="target" type="cim:M4P_NumericalProcessPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="source" type="cim:M4P_NumericalProcessPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="source" type="cim:M4D_DataAtomPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="target" type="cim:M4D_DataCollectionPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="target" type="cim:M4D_DataAtomPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="source" type="cim:M4D_DataCollectionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_InteractionPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_Interaction"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_SpatialRegriddingUserMethod" substitutionGroup="gml:AbstractGML" type="cim:M4P_SpatialRegriddingUserMethodType">
        <annotation>
            <documentation>Allows users to bypass the SpatialRegriddingStandardMethod and instead provide a set of weights and addresses for regridding via a file.</documentation>
        </annotation>
    </element>
    <complexType name="M4P_SpatialRegriddingUserMethodType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="name" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="file" type="cim:M4D_DataCollectionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_SpatialRegriddingUserMethodPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_SpatialRegriddingUserMethod"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_UnconfiguredSoftwareDescription" substitutionGroup="cim:M4P_SoftwareDescription" type="cim:M4P_UnconfiguredSoftwareDescriptionType"/>
    <complexType name="M4P_UnconfiguredSoftwareDescriptionType">
        <complexContent>
            <extension base="cim:M4P_SoftwareDescriptionType">
                <sequence>
                    <element name="compiletimeOptions" type="cim:M4P_PossibleConfigurationsPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_UnconfiguredSoftwareDescriptionPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_UnconfiguredSoftwareDescription"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_UnconfiguredScienceDescription" substitutionGroup="cim:M4P_ScienceDescription" type="cim:M4P_UnconfiguredScienceDescriptionType"/>
    <complexType name="M4P_UnconfiguredScienceDescriptionType">
        <complexContent>
            <extension base="cim:M4P_ScienceDescriptionType">
                <sequence>
                    <element name="possibleScience" type="cim:M4P_PossibleConfigurationsPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_UnconfiguredScienceDescriptionPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_UnconfiguredScienceDescription"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_SoftwareDescription" substitutionGroup="gml:AbstractGML" type="cim:M4P_SoftwareDescriptionType">
        <annotation>
            <documentation>A description of the software implementation of the process, including information about the software itself, but not its runtime execution. Runtime properties are attached to the compositeObservation class, as per O&amp;amp;M.</documentation>
        </annotation>
    </element>
    <complexType name="M4P_SoftwareDescriptionType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="documentation" type="gmd:CI_Citation_PropertyType">
                        <annotation>
                            <documentation>A reference to any documentation describing the software.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="license" type="cim:M4C_LicensePropertyType">
                        <annotation>
                            <documentation>The license held by this piece of software</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="embedded" type="boolean">
                        <annotation>
                            <documentation>An embedded component cannot exist on its own as an atomic piece of software; instead it is embedded within another (parent) component. When embedded equals "true", the SoftwareComponent has a corresponding piece of software (otherwise it is acting as a "virtual" component which may be inexorably nested within a piece of software along with several other virtual components).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="releaseDate" type="date">
                        <annotation>
                            <documentation>The date of publication of the software component code (as opposed to the date of publication of the metadata document, or the date of deployment of the model)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="timing" type="cim:M4P_TimingPropertyType">
                        <annotation>
                            <documentation>Describes information about the time steps used by the simulation.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="couplingFramework" type="cim:M4P_CouplingFrameworkTypeType">
                        <annotation>
                            <documentation>The coupling framework that this entire component conforms to.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="componentLanguage" type="cim:M4P_ComponentLanguagePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="implements" type="cim:M4P_ScienceDescriptionPropertyType"/>
                    <element name="" type="cim:M4P_SoftwareDescriptionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_SoftwareDescriptionPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_SoftwareDescription"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_PossibleConfigurations" substitutionGroup="gml:AbstractGML" type="cim:M4P_PossibleConfigurationsType">
        <annotation>
            <documentation>The set of possible configuration options that a software or scientific process may use.</documentation>
        </annotation>
    </element>
    <complexType name="M4P_PossibleConfigurationsType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="interaction" type="cim:M4P_InteractionPropertyType">
                        <annotation>
                            <documentation>The possible (if unconfigured) or actual (if configured) interactions between the child processes of the numerical process (i.e. the child processes that the parent process uses in order to perform its process).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="property" type="cim:M4P_PropertyPropertyType">
                        <annotation>
                            <documentation>The properties that may be (if unconfigured) or are (if configured) used by a numerical process.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_PossibleConfigurationsPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_PossibleConfigurations"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_ConfiguredSoftwareDescription" substitutionGroup="cim:M4P_SoftwareDescription" type="cim:M4P_ConfiguredSoftwareDescriptionType"/>
    <complexType name="M4P_ConfiguredSoftwareDescriptionType">
        <complexContent>
            <extension base="cim:M4P_SoftwareDescriptionType">
                <sequence>
                    <element name="configuration" type="cim:M4P_ActualConfigurationPropertyType"/>
                    <element name="configures" type="cim:M4P_UnconfiguredSoftwareDescriptionPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_ConfiguredSoftwareDescriptionPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_ConfiguredSoftwareDescription"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_Property" substitutionGroup="gml:AbstractGML" type="cim:M4P_PropertyType">
        <annotation>
            <documentation>A property used by a numerical process. This may include both simulated properties and properties that are used to perform the simulation, but that are not simulated by the process (for example, gravity).</documentation>
        </annotation>
    </element>
    <complexType name="M4P_PropertyType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="actualValue" type="string">
                        <annotation>
                            <documentation>The actual value used for the property.  This would be populated for configured models.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="possibleValue" type="cim:M4P_PossiblePropertyValuePropertyType">
                        <annotation>
                            <documentation>A set of possible values for the property.  If null, then any value is possible.  This would be populated for unconfigured models.</documentation>
                        </annotation>
                    </element>
                    <element name="represents" type=""/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_PropertyPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_Property"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4P_TimeLag" substitutionGroup="gml:AbstractGML" type="cim:M4P_TimeLagType">
        <annotation>
            <documentation>The coupling field used in the target at a given time corresponds to a field produced by the source at a previous time. This lag specifies the difference in time.</documentation>
        </annotation>
    </element>
    <complexType name="M4P_TimeLagType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="value" type="integer"/>
                    <element maxOccurs="1" minOccurs="0" name="units" type="cim:M4C_TimeUnitTypeType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4P_TimeLagPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4P_TimeLag"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="M4P_CouplingFrameworkTypeType">
        <restriction base="string">
            <enumeration value="ESMF"/>
            <enumeration value="BFG"/>
            <enumeration value="OASIS"/>
        </restriction>
    </simpleType>
    <simpleType name="M4P_PropertyRoleTypeType">
        <restriction base="string">
            <enumeration value="out"/>
            <enumeration value="in"/>
        </restriction>
    </simpleType>
    <simpleType name="M4P_InteractionTypeType">
        <restriction base="string">
            <enumeration value="predecessor"/>
            <enumeration value="successor"/>
        </restriction>
    </simpleType>
    <simpleType name="M4P_SpatialRegriddingStandardMethodTypeType">
        <restriction base="string">
            <enumeration value="near-neighbour"/>
            <enumeration value="linear"/>
            <enumeration value="cubic"/>
            <enumeration value="conservative-first-order"/>
            <enumeration value="conservative-second-order"/>
        </restriction>
    </simpleType>
    <simpleType name="M4P_SpatialRegriddingDimensionTypeType">
        <restriction base="string">
            <enumeration value="2D"/>
            <enumeration value="1D"/>
            <enumeration value="3D"/>
        </restriction>
    </simpleType>
    <simpleType name="M4P_NumericalProcessTypeType">
        <union memberTypes="cim:M4P_NumericalProcessTypeEnumerationType cim:M4P_NumericalProcessTypeOtherType"/>
    </simpleType>
    <simpleType name="M4P_NumericalProcessTypeEnumerationType">
        <restriction base="string">
            <enumeration value="transformer"/>
            <enumeration value="post_processor"/>
        </restriction>
    </simpleType>
    <simpleType name="M4P_NumericalProcessTypeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="M4P_ConnectionTypeType">
        <union memberTypes="cim:M4P_ConnectionTypeEnumerationType cim:M4P_ConnectionTypeOtherType"/>
    </simpleType>
    <simpleType name="M4P_ConnectionTypeEnumerationType">
        <restriction base="string">
            <enumeration value="ESMF"/>
            <enumeration value="CCSM Flux Coupler"/>
            <enumeration value="FMS"/>
            <enumeration value="Files"/>
            <enumeration value="MCT"/>
            <enumeration value="OASIS3"/>
            <enumeration value="OASIS4"/>
            <enumeration value="Shared Memory">
                <annotation>
                    <documentation>a "direct" connection; implies a sequential rather than parallel simulation; also known as "argument passing."</documentation>
                </annotation>
            </enumeration>
            <enumeration value="Embedded">
                <annotation>
                    <documentation>An embedded connection is a "virtual" connection.  It represents a connection between two embedded components which means that they are not implemented as separate comopnents in software and so there is no "real" inter-component coupling going on.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="M4P_ConnectionTypeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="M4P_TimeMappingTypeType">
        <union memberTypes="cim:M4P_TimeMappingTypeEnumerationType cim:M4P_TimeMappingTypeOtherType"/>
    </simpleType>
    <simpleType name="M4P_TimeMappingTypeEnumerationType">
        <restriction base="string">
            <enumeration value="TimeAverage"/>
            <enumeration value="TimeAccumulation"/>
            <enumeration value="LastAvailable"/>
            <enumeration value="TimeInterpolation"/>
            <enumeration value="Exact"/>
        </restriction>
    </simpleType>
    <simpleType name="M4P_TimeMappingTypeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
</schema>