data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- data.xsd -->       
<!-- generated: 30 September 2009, 17:39 -->       
<xs:schema
             elementFormDefault="qualified" attributeFormDefault="unqualified"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:gml="http://www.opengis.net/gml/3.2"
             xmlns:gmd="http://www.isotc211.org/2005/gmd"
            xmlns="http://www.metaforclimate.eu/cim/1.1" 
            targetNamespace="http://www.metaforclimate.eu/cim/1.1">       
<!-- these relative paths could really be URLs, but accessing them online cripples performance -->       
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.w3.org/1999/xlink"
           schemaLocation="../external_schemas/xlink/1.0.0/xlinks.xsd"/>
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="../external_schemas/gml/3.2.1/gml.xsd"/>
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.isotc211.org/2005/gmd"
           schemaLocation="../external_schemas/iso/19139/20070417/gmd/gmd.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="activity.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="grids.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="quality.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="shared.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="software.xsd"/>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="LocalFileStorage">
   <xs:annotation>
      <xs:documentation>Contains attributes to describe a DataObject stored as a single file.</xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="DataStorage">
                    <xs:sequence>
      <xs:element name="fileSystem" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="path" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="fileName" minOccurs="1" maxOccurs="1" type="xs:string"/>
   </xs:sequence>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataFormatType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="NetCDF"/>
      <xs:enumeration value="NetCDF_CF"/>
      <xs:enumeration value="WMO_GRIB1"/>
      <xs:enumeration value="WMO_GRIB2"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataRestriction">
   <xs:annotation>
      <xs:documentation>An access or use restriction on some element of the DataObject's actual data.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="restriction" minOccurs="1" maxOccurs="1"
                  type="gmd:MD_RestrictionCode_PropertyType"/>
   </xs:sequence>
   <xs:attribute name="restrictionScope" use="required" type="DataRestrictionScopeType">
      <xs:annotation>
         <xs:documentation>The thing (data or metadata, access or use) that this restriction is applied to.</xs:documentation>
      </xs:annotation>
   </xs:attribute>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataStorage" abstract="true">
   <xs:annotation>
      <xs:documentation>Describes the method that the DataObject is stored. An abstract class with specific child classes for each supported method.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="dataSize" minOccurs="1" maxOccurs="1" type="xs:integer"/>
   </xs:sequence>
   <xs:attribute name="dataFormat" use="required" type="DataFormatType"/>
   <xs:attribute name="dataLocation" use="required" type="xs:anyURI">
      <xs:annotation>
         <xs:documentation>Points to the actual location of the data (used to be dataURI, a feature of DataObject).</xs:documentation>
      </xs:annotation>
   </xs:attribute>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DbStorage">
   <xs:annotation>
      <xs:documentation>Contains attributes to describe a DataObject being stored in a database.</xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="DataStorage">
                    <xs:sequence>
      <xs:element name="dbAccessString" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="dbName" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="owner" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="dbTable" minOccurs="1" maxOccurs="1" type="xs:string"/>
   </xs:sequence>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataStatusType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="complete">
         <xs:annotation>
            <xs:documentation>This DataObject is complete.</xs:documentation>
         </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="metadataOnly">
         <xs:annotation>
            <xs:documentation>This DataObject is incomplete - it is described in metadata but the actual data has not yet been linked to it.</xs:documentation>
         </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="continuouslySupplemented">
         <xs:annotation>
            <xs:documentation>This DataObject's actual data is continuously updated.</xs:documentation>
         </xs:annotation>
      </xs:enumeration>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataHierarchyType" mixed="true">
   <xs:attribute name="value" type="DataHierarchyType_Enumeration" use="required"/>
</xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataHierarchyType_Enumeration">
   <xs:restriction base="xs:string">
      <xs:enumeration value="variable"/>
      <xs:enumeration value="run"/>
      <xs:enumeration value="stream"/>
      <xs:enumeration value="other"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataDistribution">
   <xs:annotation>
      <xs:documentation>Describes how a DataObject is distributed.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="distributionFee" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="responsibleParty" minOccurs="1" maxOccurs="1"
                  type="gmd:CI_ResponsibleParty_PropertyType"/>
   </xs:sequence>
   <xs:attribute name="distributionFormat" use="required" type="DataFormatType"/>
   <xs:attribute name="distributionAccess" use="required" type="DataAccessType"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataObject">
   <xs:annotation>
      <xs:documentation>A DataObject describes a unit of data.  DataObjects can be grouped hierarchically.  The attributes hierarchyLevelName and hierarchyLevelValue describe how objects are grouped.  </xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="DataSource">
                    <xs:sequence>
      <xs:element name="restriction" minOccurs="0" maxOccurs="unbounded" type="DataRestriction"/>
      <!-- this is an abstract class --><xs:element name="storage" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1">
               <xs:element name="localFileStorage" type="LocalFileStorage"/>
               <xs:element name="dbStorage" type="DbStorage"/>
               <xs:element name="ipStorage" type="IpStorage"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="distribution" minOccurs="1" maxOccurs="1" type="DataDistribution"/>
      <xs:element name="childObject" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="xs:integer">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="dataObject" type="DataObject"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="parentObject" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="xs:integer">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="dataObject" type="DataObject"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="citation" minOccurs="0" maxOccurs="unbounded" type="DataCitation"/>
      <xs:element name="content" minOccurs="0" maxOccurs="unbounded" type="DataContent"/>
      <xs:element name="extent" minOccurs="0" maxOccurs="1" type="DataExtent"/>
      <xs:element name="hierarchyLevelName" minOccurs="0" maxOccurs="1" type="DataHierarchyType">
         <xs:annotation>
            <xs:documentation>What level in the data hierarchy (constructed by the self-referential parent/child aggregations) is this DataObject.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="hierarchyLevelValue" minOccurs="0" maxOccurs="1" type="PropertyValue">
         <xs:annotation>
            <xs:documentation>What is the name of the specific HierarchyLevel this DataObject is being organised at (ie: if the HierarchyLevel is "run" then the name might be the runid).</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="keyword" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>Descriptive keyword used when searching for DataObjects (this is not the same as shortName / longName / description).</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="geometryModel" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="xs:integer">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="geometryModel" type="gml:AbstractGeometryType"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <!--objectProperty is not used -->       
</xs:sequence>
   <xs:attribute name="dataStatus" use="required" type="DataStatusType">
      <xs:annotation>
         <xs:documentation>The current status of the data - is it complete, or is this metadata description all that is available, or is the data continuously supplemented.</xs:documentation>
      </xs:annotation>
   </xs:attribute>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="dataObject">
   <xs:annotation>
      <xs:documentation>A DataObject describes a unit of data.  DataObjects can be grouped hierarchically.  The attributes hierarchyLevelName and hierarchyLevelValue describe how objects are grouped.  </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:complexContent>
         <xs:extension base="DataObject">
            <xs:sequence>
               <xs:element name="documentID" minOccurs="1" maxOccurs="1" type="Identifier">
                  <xs:annotation>
                     <xs:documentation>a unique indentifier for this document</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentAuthor" minOccurs="0" maxOccurs="1"
                           type="gmd:CI_ResponsibleParty_PropertyType">
                  <xs:annotation>
                     <xs:documentation>A contact for the author of this <i>document </i>(as opposed to the author of the artifact being described by this document; ie: the simulation or component or whatever).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentCreationDate" minOccurs="1" maxOccurs="1" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>The date the <i>document </i>was created.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentGenealogy" minOccurs="0" maxOccurs="1" type="Genealogy">
                  <xs:annotation>
                     <xs:documentation>Specifies the relationship of this document with another document. Various relationship types (depending on the type of document; ie: simulation, component, etc.) are supported.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="quality" minOccurs="0" maxOccurs="unbounded" type="DQ_Quality">
                  <xs:annotation>
                     <xs:documentation>a (set of) quality record(s) for this document.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="CIMVersion" use="optional" type="xs:string">
               <xs:annotation>
                  <xs:documentation>The CIM version this document is written to, and should therefore validate against.</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="documentStatus" use="optional" type="DocumentStatusType"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:element>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataCitation">
   <xs:annotation>
      <xs:documentation>A description of references to this data from the scientific literature; like ISO: MD_ContentInformation</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="abstract" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="citation" minOccurs="1" maxOccurs="1" type="gmd:CI_Citation_PropertyType"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataContent">
   <xs:annotation>
      <xs:documentation>like ISO: MD_ContentInformation</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="topic" minOccurs="1" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>ISOattributeDesc, CF?</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="unit" minOccurs="1" maxOccurs="1" type="UnitType">
         <xs:annotation>
            <xs:documentation>ISOdimension</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="aggregation" minOccurs="1" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>sum, min, mean, max, ...</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="frequency" minOccurs="1" maxOccurs="1"
                  type="gmd:MD_MaintenanceFrequencyCode_PropertyType">
         <xs:annotation>
            <xs:documentation>daily, hourly, ...</xs:documentation>
         </xs:annotation>
      </xs:element>
   </xs:sequence>
</xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataAccessType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="CD-ROM"/>
      <xs:enumeration value="DiskDB"/>
      <xs:enumeration value="DVD"/>
      <xs:enumeration value="Microfiche"/>
      <xs:enumeration value="OnlineFileHTTP"/>
      <xs:enumeration value="OnlineFileFTP"/>
   </xs:restriction>
</xs:simpleType>
<!--DataProperty is not used -->       
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataRestrictionScopeType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="metadataAccessConstraint"/>
      <xs:enumeration value="metadataUseConstraint"/>
      <xs:enumeration value="dataAccessConstraint"/>
      <xs:enumeration value="dataUseConstraint"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataExtent">
   <xs:annotation>
      <xs:documentation>Records the geographic (horizontal and vertical) and temporal extent of the DataObject.  </xs:documentation>
   </xs:annotation>
                                <xs:complexContent>
                                <xs:extension base="gmd:EX_Extent_PropertyType">
                            <xs:sequence/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="IpStorage">
                        <xs:complexContent>
                        <xs:extension base="DataStorage">
                    <xs:sequence>
      <xs:element name="protocol" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="host" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="path" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="fileName" minOccurs="1" maxOccurs="1" type="xs:string"/>
   </xs:sequence>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>       
</xs:schema>