trunk/data/myAppCim-v0.1/quality/quality.xsd

<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- edited with XMLSpy v2008 rel. 2 sp2 (http://www.altova.com) by CIS (Max-Planck-Institut) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:cim="http://metaforclimate.eu/schemes/CIM" xmlns:gmd="http://www.isotc211.org/2005/gmd">
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://www.isotc211.org/2005/gmd/gmd.xsd"/>
	<xs:element name="DateTime" type="DateTime"/>
	<xs:complexType name="DateTime">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="LI_Linage" type="LI_Linage"/>
	<xs:complexType name="LI_Linage">
		<xs:annotation>
			<xs:documentation>describes the processing steps applied to the data within the quality scope</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="MD_ScopeDescription">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DQ_EvaluationMethodTypeCode">
		<xs:annotation>
			<xs:documentation>Values taken from ISO19115.  These probably need to be replaced/extended with CIM specific values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="directInternal"/>
			<xs:enumeration value="directExternal"/>
			<xs:enumeration value="indirect"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DQ_Result" type="DQ_Result"/>
	<xs:complexType name="DQ_Result">
		<xs:annotation>
			<xs:documentation>generalisation of more specific result classes</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="QualitySeverityType" type="QualitySeverityType"/>
	<xs:complexType name="QualitySeverityType">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="MD_ScopeCodeType">
		<xs:annotation>
			<xs:documentation>Relatively few of the scope codes defined in ISO19115 are relevant to CIM.  I have therefore added a number of additional scope types - these are indicated with a trailing asterisk.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="metadata*">
				<xs:annotation>
					<xs:documentation>This would cover quality issues with the CIM itself</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="dataset"/>
			<xs:enumeration value="software"/>
			<xs:enumeration value="service"/>
			<xs:enumeration value="model"/>
			<xs:enumeration value="modelComponent*"/>
			<xs:enumeration value="simulation*"/>
			<xs:enumeration value="experiment*"/>
			<xs:enumeration value="numericalRequirement*"/>
			<xs:enumeration value="ensemble*"/>
			<xs:enumeration value="file*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CI_Citation" type="CI_Citation"/>
	<xs:complexType name="CI_Citation">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="CI_DateTypeCode">
		<xs:annotation>
			<xs:documentation>These are the date types defined in the ISO19115 standard - we may need to add additional terms</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="creation"/>
			<xs:enumeration value="publication"/>
			<xs:enumeration value="revision"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="CIM" type="CIM"/>
	<xs:complexType name="CIM">
		<xs:sequence>
			<xs:element name="DQ_Quality" type="DQ_Quality"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="UnitOfMeasure" type="UnitOfMeasure"/>
	<xs:complexType name="UnitOfMeasure">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="CIM_FeatureType" type="CIM_FeatureType"/>
	<xs:complexType name="CIM_FeatureType">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="DQ_Element" type="DQ_Element"/>
	<xs:complexType name="DQ_Element">
		<xs:annotation>
			<xs:documentation>aspect of &lt;b&gt;quantitative &lt;/b&gt;quality information - within ISO 19115 it can be specified as:
&lt;ul&gt;
	&lt;li&gt;DQ_Completeness&lt;/li&gt;
	&lt;li&gt;DQ_LogicalConsistency&lt;/li&gt;
	&lt;li&gt;DQ_PositionalAccuracy&lt;/li&gt;
	&lt;li&gt;DQ_ThematicAccuracy&lt;/li&gt;
	&lt;li&gt;DQ_TemporalAccuracy&lt;/li&gt;
&lt;/ul&gt;
These five entities represent elements of data quality and can be further subclasses to the subelements of data quality (e.g. DQ_LogicalConsitency -&amp;gt; DQ_FormatConsistency).  ISO19115 specifically supports the addition of other elements and we will probably want to revisit this entire area and add METAFOR specific elements.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="nameOfMeasure" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>name of the test applied to the data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="measureIdentification" type="MD_Identifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>code identifying a registered standard procedure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="measureDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>description of the measure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="evaluationMethodType" type="DQ_EvaluationMethodTypeCode" minOccurs="0">
				<xs:annotation>
					<xs:documentation>type of method use to evaluate quality of dataset</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="evaluationMethodDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>description of the evaluation method</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="evaluationProcedure" type="CI_Citation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>reference to the evaluation procedure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateTime" type="DateTime" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>date or range of dates on which a data quality measure was applied</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="result" type="DQ_Result" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>value (or set of values) obtained from applying a data quality measure or the outcome of evaluating the obtained value (or set of values) against a specified acceptable conformance quality level.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="anyURI" type="anyURI"/>
	<xs:complexType name="anyURI">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="QualityStatusType" type="QualityStatusType"/>
	<xs:simpleType name="QualityStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="reported"/>
			<xs:enumeration value="confirmed"/>
			<xs:enumeration value="partially_resolved"/>
			<xs:enumeration value="resolved"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DQ_ConformanceResult" type="DQ_ConformanceResult"/>
	<xs:complexType name="DQ_ConformanceResult">
		<xs:annotation>
			<xs:documentation>information about the outcome of evaluating the obtained value (or set of values) against a specified acceptable conformance quality level</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DQ_Result">
				<xs:sequence>
					<xs:element name="specification" type="CI_Citation">
						<xs:annotation>
							<xs:documentation>citation of product specification or user requirement against which data is evaluated</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="explanation" type="xs:string">
						<xs:annotation>
							<xs:documentation>explanation of the meaning of confirmance for this result</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="pass" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>indication of the conformance result where 0 = fail and 1 = pass</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MD_ScopeDescription" type="MD_ScopeDescriptionType"/>
	<xs:simpleType name="MD_ScopeDescriptionType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="CIM_Description" type="CIM_Description"/>
	<xs:complexType name="CIM_Description">
		<xs:sequence>
			<xs:element name="issueDescription" type="CIM_Description"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CI_OnlineFunctionCode">
		<xs:annotation>
			<xs:documentation>These are the online service codes defined in the ISO19115 standard - not all will be relevant to the CIM, and we may need to add additional terms  (e.g.  query, compare, publish, etc.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="download"/>
			<xs:enumeration value="information"/>
			<xs:enumeration value="offline_access"/>
			<xs:enumeration value="order"/>
			<xs:enumeration value="search"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="MD_ScopeCode" type="MD_ScopeCode"/>
	<xs:complexType name="MD_ScopeCode">
		<xs:annotation>
			<xs:documentation>hierarchical level of the data specified by the scope (e.g. dataset, software, model, feature etc. in ISO19115).  We will need to define a different enumeration list for CIM</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="level" type="MD_ScopeCodeType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RecordType" type="RecordType"/>
	<xs:complexType name="RecordType">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="DQ_QualitativeResult" type="DQ_QualitativeResult"/>
	<xs:complexType name="DQ_QualitativeResult">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="CI_ResponsibleParty" type="CI_ResponsibleParty"/>
	<xs:complexType name="CI_ResponsibleParty">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="CI_RoleCode">
		<xs:annotation>
			<xs:documentation>These are the roles defined in the ISO19115 standard - not all will be relevant to the CIM, and we may need to add additional terms</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="resourceProvider"/>
			<xs:enumeration value="custodian"/>
			<xs:enumeration value="owner"/>
			<xs:enumeration value="user"/>
			<xs:enumeration value="distributor"/>
			<xs:enumeration value="originator"/>
			<xs:enumeration value="pointofContact"/>
			<xs:enumeration value="principalInvestigator"/>
			<xs:enumeration value="processor"/>
			<xs:enumeration value="publisher"/>
			<xs:enumeration value="author"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Record" type="Record"/>
	<xs:complexType name="Record">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="UnitOfMeasureType">
		<xs:annotation>
			<xs:documentation>An ISO19115 enumeration.  This probably needs to be entirely replaced by something from the CF vocabulary.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="degrees_C"/>
			<xs:enumeration value="etc."/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DQ_Scope" type="DQ_Scope"/>
	<xs:complexType name="DQ_Scope">
		<xs:sequence>
			<xs:element name="level" type="MD_ScopeCode">
				<xs:annotation>
					<xs:documentation>hierarchical level of the data specified by the scope.  Will need customisation for METAFOR</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extent" type="EX_Extent" minOccurs="0">
				<xs:annotation>
					<xs:documentation>information about the horizontal, vertical and temporal extent of the data specified by the scope.  Defined in ISO19115 using attributes such as minimumValue and maximumValue for vertical extent.  This class will need to be modified for CIM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="levelDescription" type="MD_ScopeDescription" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>detailed description about the level of the data specified by the scope - defined in IS19115 in terms of sets of features, attributes, feature instances, attribute instances and dataset.  This will need some modification for CIM.  Perhaps extend this class with basic MF_description to allow a variety of descriptions, or extend the 'sets of things' to cover items of relevance to climate science e.g. files, geophysical parameters, ensemble elements etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CI_CitationPresentationFormCode">
		<xs:annotation>
			<xs:documentation>This is the ISO19115 enumeration.  We may want to extend this list to deal with climate science specific presentations.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="documentDigital"/>
			<xs:enumeration value="documentHardcopy"/>
			<xs:enumeration value="imageDigital"/>
			<xs:enumeration value="imageHardcopy"/>
			<xs:enumeration value="mapDigital"/>
			<xs:enumeration value="mapHardcopy"/>
			<xs:enumeration value="modelDigital"/>
			<xs:enumeration value="modelHardcopy"/>
			<xs:enumeration value="profileDigital"/>
			<xs:enumeration value="profileHardcopy"/>
			<xs:enumeration value="tableDigital"/>
			<xs:enumeration value="tableHardcopy"/>
			<xs:enumeration value="videoDigital"/>
			<xs:enumeration value="videoHardcopy"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="DQ_EvaluationMethodTypeCode" type="DQ_EvaluationMethodTypeCode"/>
	<xs:complexType name="DQ_EvaluationMethodType">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="QualityIssueTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="metadata"/>
			<xs:enumeration value="data_format"/>
			<xs:enumeration value="data_content"/>
			<xs:enumeration value="data_indexing"/>
			<xs:enumeration value="science"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="EX_Extent" type="EX_Extent"/>
	<xs:complexType name="EX_Extent">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="QualitySeverityTypeCode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cosmetic"/>
			<xs:enumeration value="minor"/>
			<xs:enumeration value="major"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="QualityIssueType" type="QualityIssueType"/>
	<xs:complexType name="QualityIssueType">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CIM_QualityDetail" type="CIM_QualityDetail"/>
	<xs:complexType name="CIM_QualityDetail">
		<xs:sequence>
			<xs:element name="featureType" type="CIM_FeatureType">
				<xs:annotation>
					<xs:documentation>the type of feature that the quality issue refers too (for METAFOR this could be simulation, file, boundary condition etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="feature" type="anyURI">
				<xs:annotation>
					<xs:documentation>the reference to the specific feature (e.g. a URI to a file)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="detailDescription" type="CIM_Description" minOccurs="0">
				<xs:annotation>
					<xs:documentation>a description of the quality issue with reference to this specific feature</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CIM_QualityIssue" type="CIM_QualityIssue"/>
	<xs:complexType name="CIM_QualityIssue">
		<xs:sequence>
			<xs:element name="issueType" type="QualityIssueType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>type of quality issue (e.g. metadata, data etc. - enumeration list needs to be defined for METAFOR</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueStatus" type="QualityStatusType">
				<xs:annotation>
					<xs:documentation>current status of this issue (e.g. open, investigation, closed, etc. - enumeration values to be defined for METAFOR)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueSeverity" type="QualitySeverityType">
				<xs:annotation>
					<xs:documentation>severity of issue (e.g. potential, minor, major etc. - enumeration list will need to be defined for METAFOR</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateTime" type="DateTime">
				<xs:annotation>
					<xs:documentation>date (and time) issue was added to CIM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueIdentifiedBy" type="CI_ResponsibleParty">
				<xs:annotation>
					<xs:documentation>person/organisation responsible for identifying this quality issue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueResponsibilityOf" type="CI_ResponsibleParty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>person/organisation allocated the responsibuility for addressing this issue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueDescription" type="CIM_Description">
				<xs:annotation>
					<xs:documentation>summary description of quality issue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CIM_QualityIssue" type="CIM_QualityIssue"/>
			<xs:element name="CIM_QualityResolution" type="CIM_QualityResolution" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CIM_QualityDetail" type="CIM_QualityDetail" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CIM_QualityResolution" type="CIM_QualityResolution"/>
	<xs:complexType name="CIM_QualityResolution">
		<xs:sequence>
			<xs:element name="resolutionDescription" type="CIM_Description">
				<xs:annotation>
					<xs:documentation>description of resolution of quality issues - including external references if required</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dateTime" type="DateTime">
				<xs:annotation>
					<xs:documentation>date of resolution information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resolvedBy" type="CI_ResponsibleParty">
				<xs:annotation>
					<xs:documentation>person/organisation responsible for resolution, or the person/organisation who should be contacted with any queries about the resolution of this quality issue</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DQ_QuantitativeResult" type="DQ_QuantitativeResult"/>
	<xs:complexType name="DQ_QuantitativeResult">
		<xs:annotation>
			<xs:documentation>the values or information about the value(s) (or set of values) obtained from applying a data quality measure</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DQ_Result">
				<xs:sequence>
					<xs:element name="valueType" type="RecordType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>value type for reporting a data quality result</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="valueUnit" type="UnitOfMeasureType">
						<xs:annotation>
							<xs:documentation>value unit for reporting a data quality result</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="errorStatistic" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>statistical method used to determine the value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="Record" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>quantitative value or values, content determined by the evaluation procedure used</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="MF_Description">
		<xs:annotation>
			<xs:documentation>A standard METAFOR class to handle descriptions which would be used across the entire CIM.  It should include both free text and description by reference (xlink).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:element name="MD_Identifier" type="MD_Identifier"/>
	<xs:complexType name="MD_Identifier">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="DQ_Quality" type="DQ_Quality"/>
	<xs:complexType name="DQ_Quality">
		<xs:sequence>
			<xs:element name="scope" type="DQ_Scope">
				<xs:annotation>
					<xs:documentation>the specific data to which the quality information applies</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CIM_QualityIssue" type="CIM_QualityIssue" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="DQ_Element" type="DQ_Element" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
