software/software.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- software.xsd -->       
<!-- generated: 27 September 2010, 12:56 -->       
<xs:schema
             elementFormDefault="qualified" attributeFormDefault="unqualified"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:gml="http://www.opengis.net/gml/3.2"
             xmlns:gmd="http://www.isotc211.org/2005/gmd"
            xmlns="http://www.metaforclimate.eu/schema/cim/1.5" 
            targetNamespace="http://www.metaforclimate.eu/schema/cim/1.5">       
<!-- these relative paths could really be URLs, but accessing them online cripples performance -->       
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.w3.org/1999/xlink"
           schemaLocation="../external_schemas/xlink/1.0.0/xlinks.xsd"/>
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="../external_schemas/gml/3.2.1/gml.xsd"/>
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.isotc211.org/2005/gmd"
           schemaLocation="../external_schemas/iso/19139/20070417/gmd/gmd.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="activity.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="data.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="grids.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="quality.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="shared.xsd"/>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="SpatialRegriddingDimensionType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="1D"/>
      <xs:enumeration value="2D"/>
      <xs:enumeration value="3D"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="SpatialRegridding">
   <xs:annotation>
      <xs:documentation>Characteristics of the scheme used to interpolate a field from one grid (source grid) to another (target grid) </xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="spatialRegriddingProperty" minOccurs="0" maxOccurs="unbounded"
                  type="SpatialRegriddingProperty"/>
   </xs:sequence>
   <xs:attribute name="spatialRegriddingDimension" use="required"
                 type="SpatialRegriddingDimensionType"/>
   <xs:attribute name="spatialRegriddingMethod" use="required"
                 type="SpatialRegriddingMethodType"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Composition">
   <xs:annotation>
      <xs:documentation>The set of Couplings used by a Component.  Couplings can only occur between child components.  That is, a composition must belong to an ancestor component of the components whose fields are being connected.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="coupling" minOccurs="1" maxOccurs="unbounded" type="Coupling"/>
      <xs:element name="description" minOccurs="1" maxOccurs="1" type="xs:string"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ConnectionProperty">
   <xs:annotation>
      <xs:documentation>A ConnectionProperty is a name/value pair used to specify OASIS-specific properties.</xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="Property">
                    <xs:sequence/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Connection">
   <xs:annotation>
      <xs:documentation>A Connection represents a link from a source DataSource to a target DataSource.  These can either be ComponentProperties (ie: the values come from an internal component) or DataObjects (ie: the values come from an external file).   It can be associated with another software component (a transformer).  If present, the rate, lag, timeTransformation, and spatialRegridding override that of the parent coupling.

Note that there is the potential for multiple connectionSource &amp; connectionTarget and multiple couplingSources &amp; couplingTargets.  This may lead users to wonder how to match up a connection source (a ComponentProperty) with its coupling source (a SoftwareComponent). Clever logic is not required though; because the sources and targets are listed by reference, they can be found in a CIM document and the parent can be navigated to from there - there is no need to consult the source or target of the coupling.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="type" minOccurs="0" maxOccurs="1" type="ConnectionType">
         <xs:annotation>
            <xs:documentation>The type of Connection</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="timeProfile" minOccurs="0" maxOccurs="1" type="Timing">
         <xs:annotation>
            <xs:documentation>All information having to do with the rate of this connection; the times that it is active.  This overrides any rate of a Coupling.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="timeLag" minOccurs="0" maxOccurs="1" type="TimeLag">
         <xs:annotation>
            <xs:documentation> The coupling field used in the target at a given time corresponds to a field produced by the source at a previous time. </xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="spatialRegridding" minOccurs="0" maxOccurs="3" type="SpatialRegridding">
         <xs:annotation>
            <xs:documentation>Characteristics of the scheme used to interpolate a field from one grid (source grid) to another (target grid) </xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="timeTransformation" minOccurs="0" maxOccurs="1" type="TimeTransformation">
         <xs:annotation>
            <xs:documentation>Temporal transformation performed on the coupling field before or after regridding onto the target grid. </xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="connectionSource" minOccurs="0" maxOccurs="unbounded">
         <xs:annotation>
            <xs:documentation>The source property being connected.  (note that there can be multiple sources)  This is optional; the file/component source may have already been specified by the couplingSource.</xs:documentation>
         </xs:annotation>
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <!-- this is an abstract class --><xs:element name="connectionSource" minOccurs="0" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="dataObject"/>
                        <xs:element name="dataContent" type="DataContent"/>
                        <xs:element name="componentProperty" type="ComponentProperty"/>
                        <xs:element name="softwareComponent" type="SoftwareComponent"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="connectionTarget" minOccurs="0" maxOccurs="1">
         <xs:annotation>
            <xs:documentation>The target property being connected.  This is optional to support the way that input is handled in the CMIP5 questionnaire.</xs:documentation>
         </xs:annotation>
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <!-- this is an abstract class --><xs:element name="connectionTarget" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="dataObject"/>
                        <xs:element name="dataContent" type="DataContent"/>
                        <xs:element name="componentProperty" type="ComponentProperty"/>
                        <xs:element name="softwareComponent" type="SoftwareComponent"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="transformer" minOccurs="0" maxOccurs="unbounded">
         <xs:annotation>
            <xs:documentation>An "in-line" transformer.  This references a fully-described transformer (typically that forms part of the top-level composition) used in the context of this coupling.  It is used instead of separately specifying a spatialRegridding, timeTransformation, etc. here.</xs:documentation>
         </xs:annotation>
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element ref="processorComponent"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="priming" minOccurs="0" maxOccurs="1">
         <xs:annotation>
            <xs:documentation>A priming source is one that is active on the first available timestep only (before "proper" coupling can ocurr).  It can either be described here explicitly, or else a separate coupling/connection with a timing profile that is active on only the first timestep can be created.</xs:documentation>
         </xs:annotation>
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <!-- this is an abstract class --><xs:element name="priming" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="dataObject"/>
                        <xs:element name="dataContent" type="DataContent"/>
                        <xs:element name="componentProperty" type="ComponentProperty"/>
                        <xs:element name="softwareComponent" type="SoftwareComponent"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="connectionProperty" minOccurs="0" maxOccurs="unbounded"
                  type="ConnectionProperty"/>
   </xs:sequence>
   <xs:attribute name="purpose" use="optional" type="DataPurpose">
      <xs:annotation>
         <xs:documentation>Describes why this connection is being made.  Possible values include: boundaryCondition, initialCondition, Forcing.</xs:documentation>
      </xs:annotation>
   </xs:attribute>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="SoftwareComponent"
                abstract="true">
   <xs:annotation>
      <xs:documentation>A SofwareCompnent is an abstract component from which all other components derive.  It represents an element that takes input data and generates output data.  A SoftwareCompnent can include nested "child" components.  Every component can have "componentProperties" which describe the scientific properties that a component simulates (for example, temperature, pressure, etc.) and the numerical properties that influence how a component performs its simulation (for example, the force of gravity). A SoftwareComponent can also have a Deployment, which describes how software is deployed onto computing resources.  And a SoftwareComponent can have a composition, which describes how ComponentProperties are coupled together either to/from other SoftwareComponents or external data files.  The properties specified by a component's composition must be owned by that component or a child of that component; child components cannot couple together their parents' properties.</xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="DataSource">
                    <xs:sequence>
      <xs:element name="shortName" minOccurs="1" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>The name of the model (that is used internally).</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="longName" minOccurs="1" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>The name of the model (that is recognized externally).</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>A free-text description of the component.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="license" minOccurs="0" maxOccurs="1" type="License">
         <xs:annotation>
            <xs:documentation>The license held by this piece of software</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="componentProperties" minOccurs="1" maxOccurs="1"
                  type="ComponentProperties">
         <xs:annotation>
            <xs:documentation>The properties that this model simulates and/or couples.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="numericalProperties" minOccurs="1" maxOccurs="1"
                  type="NumericalProperties">
         <xs:annotation>
            <xs:documentation>The properties that this model simulates and/or couples. NumericalProperties contain those properties that describe _what_ a model simulates.  (Although, the distinction between numerical and scientific may be unused - all properties can be stored under the generic "ComponentProperties" attribute).</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="scientificProperties" minOccurs="1" maxOccurs="1"
                  type="ScientificProperties">
         <xs:annotation>
            <xs:documentation>The properties that this model simulates and/or couples. ScientificProperties contain those properties that describe _how_ a model simulates.  (Although, the distinction between numerical and scientific may be unused - all properties can be stored under the generic "ComponentProperties" attribute).</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="grid" minOccurs="0" maxOccurs="1">
         <xs:annotation>
            <xs:documentation>A reference to the grid that is used by this component.</xs:documentation>
         </xs:annotation>
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="grid" type="gml:AbstractGeometryType"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="responsibleParty" minOccurs="0" maxOccurs="unbounded"
                  type="ResponsibleParty"/>
      <xs:element name="releaseDate" minOccurs="0" maxOccurs="1" type="xs:dateTime">
         <xs:annotation>
            <xs:documentation>The date of publication of the software component code (as opposed to the date of publication of the metadata document, or the date of deployment of the model)</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="previousVersion" minOccurs="0" maxOccurs="1" type="version"/>
      <xs:element name="fundingSource" minOccurs="0" maxOccurs="unbounded" type="xs:string">
         <xs:annotation>
            <xs:documentation>The entities that funded this software component.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="citation" minOccurs="0" maxOccurs="unbounded"
                  type="gmd:CI_Citation_PropertyType"/>
      <xs:element name="onlineResource" minOccurs="0" maxOccurs="1"
                  type="gmd:CI_OnlineResource_PropertyType">
         <xs:annotation>
            <xs:documentation>Provides a URL location for this model.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="composition" minOccurs="0" maxOccurs="1" type="Composition"/>
      <!-- this is an abstract class --><xs:element name="childComponent" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1">
               <xs:element ref="modelComponent"/>
               <xs:element ref="processorComponent"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="parentComponent" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <!-- this is an abstract class --><xs:element name="parentComponent" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="modelComponent"/>
                        <xs:element ref="processorComponent"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="deployment" minOccurs="0" maxOccurs="unbounded" type="Deployment"/>
   </xs:sequence>
   <xs:attribute name="embedded" use="optional" type="xs:boolean">
      <xs:annotation>
         <xs:documentation>An embedded component cannot exist on its own as an atomic piece of software; instead it is embedded within another (parent) component. When embedded equals "true", the SoftwareComponent has a corresponding piece of software (otherwise it is acting as a "virtual" component which may be inexorably nested within a piece of software along with several other virtual components).</xs:documentation>
      </xs:annotation>
   </xs:attribute>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="TimeLag">
   <xs:annotation>
      <xs:documentation>The coupling field used in the target at a given time corresponds to a field produced by the source at a previous time. This lag specifies the difference in time.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="value" minOccurs="0" maxOccurs="1" type="xs:integer"/>
   </xs:sequence>
   <xs:attribute name="units" use="optional" type="TimingUnits"/>
</xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ComponentPropertyIntentType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="in"/>
      <xs:enumeration value="out"/>
      <xs:enumeration value="inout"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="SpatialRegriddingProperty">
   <xs:annotation>
      <xs:documentation>Used for OASIS-specific regridding information (ie: masked, order, normalisation, etc.)</xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="Property">
                    <xs:sequence/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="TimingUnits">
   <xs:restriction base="xs:string">
      <xs:enumeration value="seconds"/>
      <xs:enumeration value="minutes"/>
      <xs:enumeration value="hours"/>
      <xs:enumeration value="days"/>
      <xs:enumeration value="months"/>
      <xs:enumeration value="years"/>
      <xs:enumeration value="decades"/>
      <xs:enumeration value="centuries"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ComponentProperties">
   <xs:annotation>
      <xs:documentation>Just acting as a container for multiple component properties.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="componentProperty" minOccurs="0" maxOccurs="unbounded"
                  type="ComponentProperty"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="TimeTransformation">
   <xs:annotation>
      <xs:documentation>Characteristics of the scheme used to interpolate a field from one grid (source grid) to another (target grid) </xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="mappingType" minOccurs="1" maxOccurs="1" type="TimeMappingType"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ProcessorComponent">
   <xs:annotation>
      <xs:documentation>A ProcessorComponent is a component which does not model some physical phenomena.  It still processes data, but it is not a "scientific model" in the strict sense.  Examples of ProcessorComponents include transformers and post-processors.  ProcessorComponents may be assocaited with a DataProcessing activity as opposed to a Simulation activity.</xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="SoftwareComponent">
                    <xs:sequence>
      <xs:element name="type" minOccurs="1" maxOccurs="2" type="ProcessorComponentType">
         <xs:annotation>
            <xs:documentation>Describes the type of component.  IThere can be two of these because of the realm/domain distinction)</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="spatialRegridding" minOccurs="0" maxOccurs="3" type="SpatialRegridding">
         <xs:annotation>
            <xs:documentation>Characteristics of the scheme used to interpolate a field from one grid (source grid) to another (target grid) </xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="timeTransformation" minOccurs="0" maxOccurs="1" type="TimeTransformation">
         <xs:annotation>
            <xs:documentation> Temporal transformation performed on the coupling field before or after regridding onto the target grid. </xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="activity" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element ref="dataProcessing"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="conservative" use="required" type="xs:boolean">
      <xs:annotation>
         <xs:documentation>A conservative component conserves fluxes across corresponding times and areas for different grids.</xs:documentation>
      </xs:annotation>
   </xs:attribute>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="processorComponent">
   <xs:annotation>
      <xs:documentation>A ProcessorComponent is a component which does not model some physical phenomena.  It still processes data, but it is not a "scientific model" in the strict sense.  Examples of ProcessorComponents include transformers and post-processors.  ProcessorComponents may be assocaited with a DataProcessing activity as opposed to a Simulation activity.</xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:complexContent>
         <xs:extension base="ProcessorComponent">
            <xs:sequence>
               <xs:element name="documentID" minOccurs="1" maxOccurs="1" type="guid">
                  <xs:annotation>
                     <xs:documentation>a unique indentifier for this document</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentVersion" minOccurs="1" maxOccurs="1" type="version"/>
               <xs:element name="metadataID" minOccurs="0" maxOccurs="1" type="xs:anyURI"/>
               <xs:element name="metadataVersion" minOccurs="0" maxOccurs="1" type="version"/>
               <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                  <xs:annotation>
                     <xs:documentation>The id of this document as referenced by an external body (ie: DOI, or even IPSL)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentAuthor" minOccurs="0" maxOccurs="1" type="ResponsibleParty">
                  <xs:annotation>
                     <xs:documentation>A contact for the author of this <i>document </i>(as opposed to the author of the artifact being described by this document; ie: the simulation or component or whatever).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentCreationDate" minOccurs="1" maxOccurs="1" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>The date the <i>document </i>was created.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentGenealogy" minOccurs="0" maxOccurs="1" type="Genealogy">
                  <xs:annotation>
                     <xs:documentation>Specifies the relationship of this document with another document. Various relationship types (depending on the type of document; ie: simulation, component, etc.) are supported.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="quality" minOccurs="0" maxOccurs="unbounded" type="Quality">
                  <xs:annotation>
                     <xs:documentation>a (set of) quality record(s) for this document.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="documentStatus" use="optional" type="DocumentStatusType"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:element>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Coupling">
   <xs:annotation>
      <xs:documentation>A coupling represents a set of Connections between a source and target component.  Couplings can be complete or incomplete.  If they are complete then they must include all Connections between model properties.  If they are incomplete then the connections can be underspecified or not listed at all.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>A free-text description of the coupling.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" maxOccurs="1" type="ConnectionType">
         <xs:annotation>
            <xs:documentation>Describes the method of coupling.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="timeProfile" minOccurs="0" maxOccurs="1" type="Timing">
         <xs:annotation>
            <xs:documentation>Describes how often the coupling takes place.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="timeLag" minOccurs="0" maxOccurs="1" type="TimeLag">
         <xs:annotation>
            <xs:documentation> The coupling field used in the target at a given time corresponds to a field produced by the source at a previous time. </xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="spatialRegridding" minOccurs="0" maxOccurs="3" type="SpatialRegridding">
         <xs:annotation>
            <xs:documentation>Characteristics of the scheme used to interpolate a field from one grid (source grid) to another (target grid) </xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="timeTransformation" minOccurs="0" maxOccurs="1" type="TimeTransformation">
         <xs:annotation>
            <xs:documentation>Temporal transformation performed on the coupling field before or after regridding onto the target grid. </xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="couplingSource" minOccurs="1" maxOccurs="unbounded">
         <xs:annotation>
            <xs:documentation>The source component of the coupling.  (note that there can be multiple sources)</xs:documentation>
         </xs:annotation>
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <!-- this is an abstract class --><xs:element name="couplingSource" minOccurs="1" maxOccurs="unbounded">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="dataObject"/>
                        <xs:element name="dataContent" type="DataContent"/>
                        <xs:element name="componentProperty" type="ComponentProperty"/>
                        <xs:element name="softwareComponent" type="SoftwareComponent"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="couplingTarget" minOccurs="1" maxOccurs="1">
         <xs:annotation>
            <xs:documentation>The target component of the coupling</xs:documentation>
         </xs:annotation>
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <!-- this is an abstract class --><xs:element name="couplingTarget" minOccurs="1" maxOccurs="1">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="dataObject"/>
                        <xs:element name="dataContent" type="DataContent"/>
                        <xs:element name="componentProperty" type="ComponentProperty"/>
                        <xs:element name="softwareComponent" type="SoftwareComponent"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="transformer" minOccurs="0" maxOccurs="unbounded">
         <xs:annotation>
            <xs:documentation>An "in-line" transformer.  This references a fully-described transformer (typically that forms part of the top-level composition) used in the context of this coupling.  It is used instead of separately specifying a spatialRegridding, timeTransformation, etc. here.</xs:documentation>
         </xs:annotation>
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element ref="processorComponent"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="priming" minOccurs="0" maxOccurs="1">
         <xs:annotation>
            <xs:documentation>A priming source is one that is active on the first available timestep only (before "proper" coupling can ocurr).  It can either be described here explicitly, or else a separate coupling/connection with a timing profile that is active on only the first timestep can be created.</xs:documentation>
         </xs:annotation>
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <!-- this is an abstract class --><xs:element name="priming" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="dataObject"/>
                        <xs:element name="dataContent" type="DataContent"/>
                        <xs:element name="componentProperty" type="ComponentProperty"/>
                        <xs:element name="softwareComponent" type="SoftwareComponent"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="couplingProperty" minOccurs="0" maxOccurs="unbounded"
                  type="CouplingProperty"/>
      <xs:element name="connection" minOccurs="0" maxOccurs="unbounded" type="Connection"/>
   </xs:sequence>
   <xs:attribute name="purpose" use="required" type="DataPurpose"/>
   <xs:attribute name="fullySpecified" use="required" type="xs:boolean">
      <xs:annotation>
         <xs:documentation>If "true" then the coupling is fully-specified.  If "false" then not every Connection has been described within the coupling.</xs:documentation>
      </xs:annotation>
   </xs:attribute>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="TimeMappingType" mixed="true">
   <xs:annotation>
      <xs:documentation>Enumerates the different ways that time can be mapped when transforming from one field to another.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="vocabularyServer" minOccurs="0">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="vocabularyName" type="xs:string"/>
               <xs:element name="vocabularyVersion" minOccurs="0" type="version"/>
               <xs:element name="vocabularyDetails" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>information about how to access the vocabulary
                                    </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="href" type="xs:anyURI"/>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="value" type="TimeMappingType_Enumeration" use="required"/>
</xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="TimeMappingType_Enumeration">
   <xs:restriction base="xs:string">
      <xs:enumeration value="TimeAccumulation"/>
      <xs:enumeration value="TimeAverage"/>
      <xs:enumeration value="LastAvailable"/>
      <xs:enumeration value="TimeInterpolation"/>
      <xs:enumeration value="Exact"/>
      <xs:enumeration value="Other"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ModelComponent">
   <xs:annotation>
      <xs:documentation>A ModelCompnent is a scientific model; it represents code which models some physical phenomena for a particular length of time.</xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="SoftwareComponent">
                    <xs:sequence>
      <xs:element name="type" minOccurs="1" maxOccurs="2" type="ModelComponentType">
         <xs:annotation>
            <xs:documentation>Describes the type of component.  (There can be two of these because of the realm/domain distinction.)</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="timing" minOccurs="0" maxOccurs="1" type="Timing">
         <xs:annotation>
            <xs:documentation>Describes information about how this component simulates time.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="activity" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element ref="simulationRun"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
   </xs:sequence>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="modelComponent">
   <xs:annotation>
      <xs:documentation>A ModelCompnent is a scientific model; it represents code which models some physical phenomena for a particular length of time.</xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:complexContent>
         <xs:extension base="ModelComponent">
            <xs:sequence>
               <xs:element name="documentID" minOccurs="1" maxOccurs="1" type="guid">
                  <xs:annotation>
                     <xs:documentation>a unique indentifier for this document</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentVersion" minOccurs="1" maxOccurs="1" type="version"/>
               <xs:element name="metadataID" minOccurs="0" maxOccurs="1" type="xs:anyURI"/>
               <xs:element name="metadataVersion" minOccurs="0" maxOccurs="1" type="version"/>
               <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                  <xs:annotation>
                     <xs:documentation>The id of this document as referenced by an external body (ie: DOI, or even IPSL)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentAuthor" minOccurs="0" maxOccurs="1" type="ResponsibleParty">
                  <xs:annotation>
                     <xs:documentation>A contact for the author of this <i>document </i>(as opposed to the author of the artifact being described by this document; ie: the simulation or component or whatever).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentCreationDate" minOccurs="1" maxOccurs="1" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>The date the <i>document </i>was created.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentGenealogy" minOccurs="0" maxOccurs="1" type="Genealogy">
                  <xs:annotation>
                     <xs:documentation>Specifies the relationship of this document with another document. Various relationship types (depending on the type of document; ie: simulation, component, etc.) are supported.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="quality" minOccurs="0" maxOccurs="unbounded" type="Quality">
                  <xs:annotation>
                     <xs:documentation>a (set of) quality record(s) for this document.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="documentStatus" use="optional" type="DocumentStatusType"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:element>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ComponentProperty">
   <xs:annotation>
      <xs:documentation>ComponentProperties include things that a component simulates (ie: pressure, humidity) and things that prescribe that simulation (ie: gravity, choice of advection scheme).  Note that this is a specialisation of shared::DataSource.  data::DataObject is also a specialisation of shared::DataSource.  This allows software::Connections and/or activity::Conformance to refer to either ComponentProperties or DataObjects.  </xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="DataSource">
                    <xs:sequence>
      <xs:element name="shortName" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="longName" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="units" minOccurs="0" maxOccurs="1" type="UnitType"/>
      <xs:element name="standardName" minOccurs="0" maxOccurs="unbounded" type="StandardName">
         <xs:annotation>
            <xs:documentation>The standard name that this property is known as (for example, its CF name)</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="value" minOccurs="0" maxOccurs="unbounded" type="PropertyValue">
         <xs:annotation>
            <xs:documentation>The value of the property (not applicable to fields)</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="citation" minOccurs="0" maxOccurs="unbounded"
                  type="gmd:CI_Citation_PropertyType"/>
      <xs:element name="grid" minOccurs="0" maxOccurs="1">
         <xs:annotation>
            <xs:documentation>A reference to the grid that this property maps onto; may override the ModelComponent grid.</xs:documentation>
         </xs:annotation>
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="grid" type="gml:AbstractGeometryType"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="componentProperty" minOccurs="0" maxOccurs="unbounded"
                  type="ComponentProperty"/>
   </xs:sequence>
   <xs:attribute name="intent" use="optional" type="ComponentPropertyIntentType">
      <xs:annotation>
         <xs:documentation>The direction that this property is intended to be coupled: in, out, or inout.</xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="represented" use="required" type="xs:boolean">
      <xs:annotation>
         <xs:documentation>When set to false, means that this property is not used by the component. Covers the case when, for instance, a modeler chooses not to represent some property in their model.  (But still allows meaningful comparisons between components which _do_ model this property.)</xs:documentation>
      </xs:annotation>
   </xs:attribute>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ProcessorComponentType"
                mixed="true">
   <xs:annotation>
      <xs:documentation>An enumeration of types of ProcessorComponent.  This includes things like transformers and post-processors.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="vocabularyServer" minOccurs="0">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="vocabularyName" type="xs:string"/>
               <xs:element name="vocabularyVersion" minOccurs="0" type="version"/>
               <xs:element name="vocabularyDetails" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>information about how to access the vocabulary
                                    </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="href" type="xs:anyURI"/>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="value" type="ProcessorComponentType_Enumeration" use="required"/>
</xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema"
               name="ProcessorComponentType_Enumeration">
   <xs:restriction base="xs:string">
      <xs:enumeration value="post_processor"/>
      <xs:enumeration value="transformer"/>
      <xs:enumeration value="Other"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ScientificProperties">
   <xs:annotation>
      <xs:documentation>This is just being used as a container for component properties.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="componentProperty" minOccurs="0" maxOccurs="unbounded"
                  type="ComponentProperty"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Parallelisation">
   <xs:annotation>
      <xs:documentation>Describes how a deployment has been parallelised across a computing platform.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="processes" minOccurs="1" maxOccurs="1" type="xs:integer"/>
      <xs:element name="rank" minOccurs="1" maxOccurs="1" type="xs:integer"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CouplingProperty">
   <xs:annotation>
      <xs:documentation>A CouplingProperty is a name/value pair used to specify OASIS-specific properties.</xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="Property">
                    <xs:sequence/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="SpatialRegriddingMethodType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="linear"/>
      <xs:enumeration value="near-neighbour"/>
      <xs:enumeration value="cubic"/>
      <xs:enumeration value="conservative-first-order"/>
      <xs:enumeration value="conservative-second-order"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ConnectionType" mixed="true">
   <xs:annotation>
      <xs:documentation>The ConnectionType enumeration describes the mechanism of transport for a connection.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="vocabularyServer" minOccurs="0">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="vocabularyName" type="xs:string"/>
               <xs:element name="vocabularyVersion" minOccurs="0" type="version"/>
               <xs:element name="vocabularyDetails" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>information about how to access the vocabulary
                                    </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="href" type="xs:anyURI"/>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="value" type="ConnectionType_Enumeration" use="required"/>
</xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ConnectionType_Enumeration">
   <xs:restriction base="xs:string">
      <xs:enumeration value="CCSM Flux Coupler"/>
      <xs:enumeration value="ESMF"/>
      <xs:enumeration value="FMS"/>
      <xs:enumeration value="Files"/>
      <xs:enumeration value="MCT"/>
      <xs:enumeration value="OASIS3"/>
      <xs:enumeration value="OASIS4"/>
      <xs:enumeration value="Shared Memory">
         <xs:annotation>
            <xs:documentation>a "direct" connection; implies a sequential rather than parallel simulation; also known as "argument passing."</xs:documentation>
         </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Embedded">
         <xs:annotation>
            <xs:documentation>An embedded connection is a "virtual" connection.  It represents a connection between two embedded components which means that they are not implemented as separate comopnents in software and so there is no "real" inter-component coupling going on.</xs:documentation>
         </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Other"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ModelComponentType"
                mixed="true">
   <xs:annotation>
      <xs:documentation>An enumeration of types of ModelComponent.  This includes things like atmosphere &amp; ocean models, radiation schemes, etc.   CIM best-practice is to describe every component for which there is a named ComponentType as a separate component, even if it is not a separate unit of software (ie: even if it is embedded), instead of as a (set of) ModelParameters.  This codelist is synonomous with "realm" for the purposes of CMIP5.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="vocabularyServer" minOccurs="0">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="vocabularyName" type="xs:string"/>
               <xs:element name="vocabularyVersion" minOccurs="0" type="version"/>
               <xs:element name="vocabularyDetails" type="xs:string" minOccurs="0">
                  <xs:annotation>
                     <xs:documentation>information about how to access the vocabulary
                                    </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="href" type="xs:anyURI"/>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="value" type="ModelComponentType_Enumeration" use="required"/>
</xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ModelComponentType_Enumeration">
   <xs:restriction base="xs:string">
      <xs:enumeration value="Advection"/>
      <xs:enumeration value="Aerosol3D-Sources"/>
      <xs:enumeration value="Aerosol2D-Sources"/>
      <xs:enumeration value="AerolEmissionAndConc"/>
      <xs:enumeration value="AerosolKeyProperties"/>
      <xs:enumeration value="AerosolModel"/>
      <xs:enumeration value="Aerosols"/>
      <xs:enumeration value="AerosolSpaceConfig"/>
      <xs:enumeration value="AerosolTransport"/>
      <xs:enumeration value="AtmChem2D-Sources"/>
      <xs:enumeration value="AtmChem3D-Sources"/>
      <xs:enumeration value="AtmChemEmissionAndConc"/>
      <xs:enumeration value="AtmChemKeyProperties"/>
      <xs:enumeration value="AtmChemSpaceConfig"/>
      <xs:enumeration value="AtmChemTransport"/>
      <xs:enumeration value="AtmGasPhaseChemistry"/>
      <xs:enumeration value="AtmHeterogeneousChemistry"/>
      <xs:enumeration value="AtmosAdvection"/>
      <xs:enumeration value="AtmosCloudScheme"/>
      <xs:enumeration value="AtmosConvectTurbulCloud"/>
      <xs:enumeration value="AtmosDynamicalCore"/>
      <xs:enumeration value="AtmosHorizontalDomain"/>
      <xs:enumeration value="AtmosKeyProperties"/>
      <xs:enumeration value="AtmosOrographyAndWaves"/>
      <xs:enumeration value="Atmosphere"/>
      <xs:enumeration value="AtmosphericChemistry"/>
      <xs:enumeration value="AtmosRadiation"/>
      <xs:enumeration value="AtmosSpaceConfiguration"/>
      <xs:enumeration value="Climate"/>
      <xs:enumeration value="CloudSimulator"/>
      <xs:enumeration value="IceSheetDynamics"/>
      <xs:enumeration value="LandIce"/>
      <xs:enumeration value="LandIceGlaciers"/>
      <xs:enumeration value="LandIceKeyProperties"/>
      <xs:enumeration value="LandIceSheet"/>
      <xs:enumeration value="LandIceShelves"/>
      <xs:enumeration value="LandIceShelvesDynamics"/>
      <xs:enumeration value="LandSurface"/>
      <xs:enumeration value="LandSurfaceAlbedo"/>
      <xs:enumeration value="LandSurfaceCarbonCycle"/>
      <xs:enumeration value="LandSurfaceEnergyBalance"/>
      <xs:enumeration value="LandSurfaceKeyProperties"/>
      <xs:enumeration value="LandSurfaceLakes"/>
      <xs:enumeration value="LandSurfaceSnow"/>
      <xs:enumeration value="LandSurfaceSoil"/>
      <xs:enumeration value="LandSurfaceSpaceConfiguration"/>
      <xs:enumeration value="LandSurfaceVegetation"/>
      <xs:enumeration value="LandSurfSoilHeatTreatment"/>
      <xs:enumeration value="LandSurfSoilHydrology"/>
      <xs:enumeration value="Ocean"/>
      <xs:enumeration value="OceanAdvection"/>
      <xs:enumeration value="OceanBioBoundaryForcing"/>
      <xs:enumeration value="OceanBioChemistry"/>
      <xs:enumeration value="OceanBioGasExchange"/>
      <xs:enumeration value="OceanBioGeoChemistry"/>
      <xs:enumeration value="OceanBioKeyProperties"/>
      <xs:enumeration value="OceanBioSpaceConfig"/>
      <xs:enumeration value="OceanBioTimeStepFramework"/>
      <xs:enumeration value="OceanBioTracers"/>
      <xs:enumeration value="OceanBioTracersEcosystem"/>
      <xs:enumeration value="OceanBoundaryForcing"/>
      <xs:enumeration value="OceanBoundaryForcingTracers"/>
      <xs:enumeration value="OceanHorizontalDomain"/>
      <xs:enumeration value="OceanInteriorMixing"/>
      <xs:enumeration value="OceanKeyProperties"/>
      <xs:enumeration value="OceanLateralPhysics"/>
      <xs:enumeration value="OceanLateralPhysMomentum"/>
      <xs:enumeration value="OceanLateralPhysTracers"/>
      <xs:enumeration value="OceanMixedLayer"/>
      <xs:enumeration value="OceanNudging"/>
      <xs:enumeration value="OceanSpaceConfiguration"/>
      <xs:enumeration value="OceanUpAndLowBoundaries"/>
      <xs:enumeration value="OceanVerticalPhysics"/>
      <xs:enumeration value="PhotoChemistry"/>
      <xs:enumeration value="RiverRouting"/>
      <xs:enumeration value="SeaIce"/>
      <xs:enumeration value="SeaIceDynamics"/>
      <xs:enumeration value="SeaIceKeyProperties"/>
      <xs:enumeration value="SeaIceSpaceConfiguration"/>
      <xs:enumeration value="SeaIceThermodynamics"/>
      <xs:enumeration value="StratosphericHeterChem"/>
      <xs:enumeration value="TopOfAtmosInsolation"/>
      <xs:enumeration value="ToposphericHeterChem"/>
      <xs:enumeration value="VegetationCarbonCycle"/>
      <xs:enumeration value="Other"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="NumericalProperties">
   <xs:annotation>
      <xs:documentation>This is just being used as a container for component properties.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="componentProperty" minOccurs="0" maxOccurs="unbounded"
                  type="ComponentProperty"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Deployment">
   <xs:annotation>
      <xs:documentation>Gives information about the technical properties of a component: what machine it was run on, which compilers were used, how it was parallised, etc.

A deployment basically associates a deploymentDate with a Platform.  A deployment only exists if something has been deployed.  A platform, in contrast, can exist independently, waiting to be used in deployments.
</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="deploymentDate" minOccurs="0" maxOccurs="1" type="xs:dateTime"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="parallelisation" minOccurs="0" maxOccurs="1" type="Parallelisation"/>
      <xs:element name="platform" minOccurs="1" maxOccurs="1">
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element ref="platform"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="executibleName" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="executibleArgument" minOccurs="0" maxOccurs="unbounded" type="xs:string"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Timing">
   <xs:annotation>
      <xs:documentation>Provides information about the rate of couplings and connections and/or the timing characteristics of individual components - for example, the start and stop times that the component was run for or the units of time that a component is able to model (in a single timestep).</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="start" minOccurs="0" maxOccurs="1" type="xs:dateTime"/>
      <xs:element name="end" minOccurs="0" maxOccurs="1" type="xs:dateTime"/>
      <xs:element name="rate" minOccurs="1" maxOccurs="1" type="xs:integer"/>
   </xs:sequence>
   <xs:attribute name="units" use="required" type="TimingUnits"/>
</xs:complexType>       
</xs:schema>