quality/quality.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- quality.xsd -->       
<!-- generated: 3 May 2011, 10:13 -->       
<xs:schema
             elementFormDefault="qualified" attributeFormDefault="unqualified"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:gml="http://www.opengis.net/gml/3.2"
             xmlns:gmd="http://www.isotc211.org/2005/gmd"
            xmlns="http://www.purl.org/org/esmetadata/cim/1.5/schemas"       
targetNamespace="http://www.purl.org/org/esmetadata/cim/1.5/schemas">       
<!-- these relative paths could really be URLs, but accessing them online cripples performance -->       
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.w3.org/1999/xlink"
           schemaLocation="../external_schemas/xlink/1.0.0/xlinks.xsd"/>
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="../external_schemas/gml/3.2.1/gml.xsd"/>
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.isotc211.org/2005/gmd"
           schemaLocation="../external_schemas/iso/19139/20070417/gmd/gmd.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="activity.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="data.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="grids.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="shared.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="software.xsd"/>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="QualityStatusType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="reported"/>
      <xs:enumeration value="confirmed"/>
      <xs:enumeration value="partially_resolved"/>
      <xs:enumeration value="resolved"/>
   </xs:restriction>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CIM_ScopeCodeType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="metadata">
         <xs:annotation>
            <xs:documentation>This would cover quality issues with the CIM itself</xs:documentation>
         </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="dataset"/>
      <xs:enumeration value="software"/>
      <xs:enumeration value="service"/>
      <xs:enumeration value="model"/>
      <xs:enumeration value="modelComponent"/>
      <xs:enumeration value="simulation"/>
      <xs:enumeration value="experiment"/>
      <xs:enumeration value="numericalRequirement"/>
      <xs:enumeration value="ensemble"/>
      <xs:enumeration value="file"/>
   </xs:restriction>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CIM_FeatureType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="file"/>
      <xs:enumeration value="diagnostic"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CIM_Result">
   <xs:sequence>
      <xs:element name="availableFrom" minOccurs="1" maxOccurs="1"
                  type="gmd:CI_OnlineResource_PropertyType"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
   </xs:sequence>
   <xs:attribute name="resultType" use="required" type="CIM_ResultType"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CIM_Measure">
   <xs:sequence>
      <xs:element name="evaluationMethodDescription" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="evaluationMethodType" minOccurs="0" maxOccurs="1"
                  type="gmd:DQ_EvaluationMethodTypeCode_PropertyType"/>
      <xs:element name="evaluationProcedure" minOccurs="0" maxOccurs="1"
                  type="gmd:CI_Citation_Type"/>
      <xs:element name="measureDescription" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="measureIdentification" minOccurs="0" maxOccurs="1"
                  type="gmd:MD_Identifier_Type"/>
      <xs:element name="nameOfMeasure" minOccurs="0" maxOccurs="1" type="xs:string"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CIM_Scope">
                                <xs:complexContent>
                                <xs:extension base="gmd:DQ_Scope_Type">
                            <xs:sequence>
      <xs:element name="availableAt" minOccurs="0" maxOccurs="1"
                  type="gmd:CI_OnlineResource_Type"/>
      <xs:element name="target" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="document">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="simulationRun"/>
                        <xs:element ref="assimilation"/>
                        <xs:element ref="simulationComposite"/>
                        <xs:element ref="numericalExperiment"/>
                        <xs:element ref="dataProcessing"/>
                        <xs:element ref="ensemble"/>
                        <xs:element ref="dataObject"/>
                        <xs:element ref="gridSpec"/>
                        <xs:element ref="cIM_Quality"/>
                        <xs:element ref="platform"/>
                        <xs:element ref="processorComponent"/>
                        <xs:element ref="modelComponent"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
   </xs:sequence>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CIM_ResultSet">
                                <xs:complexContent>
                                <xs:extension base="gmd:DQ_Result_PropertyType">
                            <xs:sequence>
      <xs:element name="member" minOccurs="1" maxOccurs="unbounded" type="CIM_Result"><!--I am looking at: UML:AssociationEnd--><!--And the class is: CIM_Result--><!--Whose id is: EAID_60433207_93A8_4912_A708_75AE17F1B75C--><!--And there were this many specialisations: 0--></xs:element>
   </xs:sequence>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CIM_DomainConsistency">
                                <xs:complexContent>
                                <xs:extension base="gmd:DQ_DomainConsistency_Type">
                            <xs:sequence><!--dateTime is not used -->       
<xs:element name="evaluator" minOccurs="0" maxOccurs="1" type="ResponsibleParty"/>
      <!--result is not used -->       
<xs:element name="measure" minOccurs="0" maxOccurs="1" type="CIM_Measure"><!--I am looking at: UML:AssociationEnd--><!--And the class is: CIM_Measure--><!--Whose id is: EAID_67D94C1D_2C4C_407d_851B_72CEA065B62C--><!--And there were this many specialisations: 0--></xs:element>
   </xs:sequence>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="QualityIssueType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="metadata"/>
      <xs:enumeration value="data_format"/>
      <xs:enumeration value="data_content"/>
      <xs:enumeration value="data_indexing"/>
      <xs:enumeration value="science"/>
   </xs:restriction>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="QualitySeverityType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="cosmetic"/>
      <xs:enumeration value="minor"/>
      <xs:enumeration value="major"/>
   </xs:restriction>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CIM_ResultType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="plot"/>
      <xs:enumeration value="document"/>
      <xs:enumeration value="logfile"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CIM_QualityDetail">
   <xs:annotation>
      <xs:documentation>Locates the "target" of a CIM QualityIssue. </xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="detailDescription" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>a description of the quality issue with reference to this specific feature</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="feature" minOccurs="1" maxOccurs="1">
         <xs:annotation>
            <xs:documentation>the reference to the specific feature (e.g. a URI to a file)</xs:documentation>
         </xs:annotation>
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="document">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="simulationRun"/>
                        <xs:element ref="assimilation"/>
                        <xs:element ref="simulationComposite"/>
                        <xs:element ref="numericalExperiment"/>
                        <xs:element ref="dataProcessing"/>
                        <xs:element ref="ensemble"/>
                        <xs:element ref="dataObject"/>
                        <xs:element ref="gridSpec"/>
                        <xs:element ref="cIM_Quality"/>
                        <xs:element ref="platform"/>
                        <xs:element ref="processorComponent"/>
                        <xs:element ref="modelComponent"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="featureType" use="required" type="CIM_FeatureType">
      <xs:annotation>
         <xs:documentation>the type of feature that the quality issue refers too (for METAFOR this could be simulation, file, boundary condition etc.)</xs:documentation>
      </xs:annotation>
   </xs:attribute>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CIM_QualityIssue">
   <xs:annotation>
      <xs:documentation>Records an issue with an instance of the CIM.  The particular part of the instance being referred to is captured by the detail attribute(s).  A resolution can be added to a quality issue.  A single issue can have multiple subissues.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="dateTime" minOccurs="1" maxOccurs="1" type="dateTime">
         <xs:annotation>
            <xs:documentation>date (and time) issue was added to CIM</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="issueDescription" minOccurs="1" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>summary description of quality issue</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="issueIdentifiedBy" minOccurs="1" maxOccurs="1" type="ResponsibleParty">
         <xs:annotation>
            <xs:documentation>person/organisation responsible for identifying this quality issue</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="issueResponsibilityOf" minOccurs="0" maxOccurs="1"
                  type="ResponsibleParty">
         <xs:annotation>
            <xs:documentation>person/organisation allocated the responsibuility for addressing this issue</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="detail" minOccurs="0" maxOccurs="unbounded" type="CIM_QualityDetail"><!--I am looking at: UML:AssociationEnd--><!--And the class is: CIM_QualityDetail--><!--Whose id is: EAID_D518865F_97F7_4b53_AD48_7A2CB5FFCA95--><!--And there were this many specialisations: 0--></xs:element>
      <xs:element name="finalResolution" minOccurs="0" maxOccurs="1" type="CIM_QualityResolution"><!--I am looking at: UML:AssociationEnd--><!--And the class is: CIM_QualityResolution--><!--Whose id is: EAID_F0233E60_11F1_4745_B709_591B9AABB50E--><!--And there were this many specialisations: 0--></xs:element>
      <xs:element name="partialResolution" minOccurs="0" maxOccurs="unbounded"
                  type="CIM_QualityResolution"><!--I am looking at: UML:AssociationEnd--><!--And the class is: CIM_QualityResolution--><!--Whose id is: EAID_F0233E60_11F1_4745_B709_591B9AABB50E--><!--And there were this many specialisations: 0--></xs:element>
      <xs:element name="subIssue" minOccurs="0" maxOccurs="unbounded" type="CIM_QualityIssue"><!--I am looking at: UML:AssociationEnd--><!--And the class is: CIM_QualityIssue--><!--Whose id is: EAID_E2CD66DE_B23F_4021_BD65_4EB8139E413E--><!--And there were this many specialisations: 0--></xs:element>
   </xs:sequence>
   <xs:attribute name="issueSeverity" use="required" type="QualitySeverityType">
      <xs:annotation>
         <xs:documentation>severity of issue (e.g. potential, minor, major etc. - enumeration list will need to be defined for METAFOR</xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="issueStatus" use="required" type="QualityStatusType">
      <xs:annotation>
         <xs:documentation>current status of this issue (e.g. open, investigation, closed, etc. - enumeration values to be defined for METAFOR)</xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="issueType" use="optional" type="QualityIssueType">
      <xs:annotation>
         <xs:documentation>type of quality issue (e.g. metadata, data etc. - enumeration list needs to be defined for METAFOR</xs:documentation>
      </xs:annotation>
   </xs:attribute>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CIM_QualityResolution">
   <xs:annotation>
      <xs:documentation>A description of what action was taken because of a quality issue.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="dateTime" minOccurs="1" maxOccurs="1" type="dateTime">
         <xs:annotation>
            <xs:documentation>date of resolution information</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="resolutionDescription" minOccurs="1" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>description of resolution of quality issues - including external references if required</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="resolvedBy" minOccurs="1" maxOccurs="1" type="ResponsibleParty">
         <xs:annotation>
            <xs:documentation>person/organisation responsible for resolution, or the person/organisation who should be contacted with any queries about the resolution of this quality issue</xs:documentation>
         </xs:annotation>
      </xs:element>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CIM_Quality">
   <xs:annotation>
      <xs:documentation>The starting point for a quality record.  It can contain any number of issues and reports.  An issue is an open-ended description of some issue about a CIM instance.  A record is a prescribed description of some specific quantitative measure that has been applied to a CIM instance.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="scope" minOccurs="1" maxOccurs="1" type="CIM_Scope">
         <xs:annotation>
            <xs:documentation>the specific data to which the quality information applies</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="report" minOccurs="0" maxOccurs="unbounded" type="CIM_DomainConsistency"><!--I am looking at: UML:AssociationEnd--><!--And the class is: CIM_DomainConsistency--><!--Whose id is: EAID_A3D18998_F666_45fd_B09F_5ED29766912F--><!--And there were this many specialisations: 0--></xs:element>
      <xs:element name="issue" minOccurs="0" maxOccurs="unbounded" type="CIM_QualityIssue"><!--I am looking at: UML:AssociationEnd--><!--And the class is: CIM_QualityIssue--><!--Whose id is: EAID_E2CD66DE_B23F_4021_BD65_4EB8139E413E--><!--And there were this many specialisations: 0--></xs:element>
   </xs:sequence>
</xs:complexType>
<xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="cIM_Quality">
   <xs:annotation>
      <xs:documentation>The starting point for a quality record.  It can contain any number of issues and reports.  An issue is an open-ended description of some issue about a CIM instance.  A record is a prescribed description of some specific quantitative measure that has been applied to a CIM instance.</xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:complexContent>
         <xs:extension base="CIM_Quality">
            <xs:sequence>
               <xs:element name="documentID" minOccurs="1" maxOccurs="1" type="guid">
                  <xs:annotation>
                     <xs:documentation>a unique indentifier for this document</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentVersion" minOccurs="1" maxOccurs="1" type="version"/>
               <xs:element name="metadataID" minOccurs="0" maxOccurs="1" type="xs:anyURI"/>
               <xs:element name="metadataVersion" minOccurs="0" maxOccurs="1" type="version"/>
               <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                  <xs:annotation>
                     <xs:documentation>The id of this document as referenced by an external body (ie: DOI, or even IPSL)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentAuthor" minOccurs="0" maxOccurs="1" type="ResponsibleParty">
                  <xs:annotation>
                     <xs:documentation>A contact for the author of this <i>document </i>(as opposed to the author of the artifact being described by this document; ie: the simulation or component or whatever).

This includes information about the authoring institution.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentCreationDate" minOccurs="1" maxOccurs="1" type="dateTime">
                  <xs:annotation>
                     <xs:documentation>The date the <i>document </i>was created.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentGenealogy" minOccurs="0" maxOccurs="1" type="Genealogy">
                  <xs:annotation>
                     <xs:documentation>Specifies the relationship of this document with another document. Various relationship types (depending on the type of document; ie: simulation, component, etc.) are supported.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="quality" minOccurs="0" maxOccurs="unbounded" type="CIM_Quality">
                  <xs:annotation>
                     <xs:documentation>a (set of) quality record(s) for this document.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="documentStatus" use="optional" type="DocumentStatusType"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:element>       
</xs:schema>