shared/shared.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- shared.xsd -->       
<!-- generated: 19 November 2010, 21:12 -->       
<xs:schema
             elementFormDefault="qualified" attributeFormDefault="unqualified"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:gml="http://www.opengis.net/gml/3.2"
             xmlns:gmd="http://www.isotc211.org/2005/gmd"
            xmlns="http://www.metaforclimate.eu/schema/cim/1.5" 
            targetNamespace="http://www.metaforclimate.eu/schema/cim/1.5">       
<!-- these relative paths could really be URLs, but accessing them online cripples performance -->       
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.w3.org/1999/xlink"
           schemaLocation="../external_schemas/xlink/1.0.0/xlinks.xsd"/>
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.opengis.net/gml/3.2"
           schemaLocation="../external_schemas/gml/3.2.1/gml.xsd"/>
<xs:import xmlns:xs="http://www.w3.org/2001/XMLSchema"
           namespace="http://www.isotc211.org/2005/gmd"
           schemaLocation="../external_schemas/iso/19139/20070417/gmd/gmd.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="activity.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="data.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="grids.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="quality.xsd"/>
<xs:include xmlns:xs="http://www.w3.org/2001/XMLSchema" schemaLocation="software.xsd"/>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="guid">
   <xs:annotation>
      <xs:documentation>An XML representation of a GUID; used for the Identifier
                    class</xs:documentation>
   </xs:annotation>
   <xs:restriction base="xs:string">
      <xs:pattern value="[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"/>
   </xs:restriction>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="version">
   <xs:annotation>
      <xs:documentation>restricts strings to one or more digits followed by any number of
                    "dot plus more numers" sequences</xs:documentation>
   </xs:annotation>
   <xs:restriction base="xs:string">
      <xs:pattern value="\d+(\.\d+)*"/>
   </xs:restriction>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="nonEmptyString">
   <xs:annotation>
      <xs:documentation>ensures string types are not empty and not just spaces</xs:documentation>
   </xs:annotation>
   <xs:restriction base="xs:string"><!--string cannot be null--><xs:minLength value="1"/>
      <!--string has to start with something other than a space--><xs:pattern value=".*[^\s].*"/>
   </xs:restriction>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="StringList">
   <xs:list itemType="xs:string"/>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="NumberList">
   <xs:list itemType="xs:integer"/>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="GUIDList">
   <xs:list itemType="guid"/>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ClosedDateRange">
   <xs:annotation>
      <xs:documentation>A date range with specified start and end points.</xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="DateRange">
                    <xs:sequence>
      <xs:element name="startDate" minOccurs="1" maxOccurs="1" type="xs:dateTime"/>
      <xs:element name="endDate" minOccurs="1" maxOccurs="1" type="xs:dateTime"/>
   </xs:sequence>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Property" abstract="true">
   <xs:annotation>
      <xs:documentation>An abstract property is simply a name/value pair.  Properties may be grouped into PropertyGroups.  Properties are used to describe features of a class whose details can't be known beforehand and, hence, can't be hard-coded into the schema.  </xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="value" minOccurs="0" maxOccurs="1" type="PropertyValue"/>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="group" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <!-- this is an abstract class --><xs:element name="group" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1"/>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CompilerType" mixed="true">
   <xs:annotation>
      <xs:documentation>A list of known compilers.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="controlledVocabulary" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="name" type="xs:string"/>
               <xs:element name="version" type="version" minOccurs="0"/>
               <xs:element name="server" type="xs:anyURI"/>
               <xs:element name="description" type="xs:string" minOccurs="0"/>
               <xs:element name="details" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="cv" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="open" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="value" use="required" type="nonEmptyString"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Platform">
   <xs:annotation>
      <xs:documentation>A platform is a description of resources used to deploy a component/simulation.  A platform pairs a machine with a (set of) compilers.  There is also a point of contact for the platform. </xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="shortName" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="longName" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="contact" minOccurs="0" maxOccurs="unbounded" type="ResponsibleParty"/>
      <xs:element name="unit" minOccurs="1" maxOccurs="unbounded" type="MachineCompilerUnit"/>
   </xs:sequence>
</xs:complexType>
<xs:element xmlns:xs="http://www.w3.org/2001/XMLSchema" name="platform">
   <xs:annotation>
      <xs:documentation>A platform is a description of resources used to deploy a component/simulation.  A platform pairs a machine with a (set of) compilers.  There is also a point of contact for the platform. </xs:documentation>
   </xs:annotation>
   <xs:complexType>
      <xs:complexContent>
         <xs:extension base="Platform">
            <xs:sequence>
               <xs:element name="documentID" minOccurs="1" maxOccurs="1" type="guid">
                  <xs:annotation>
                     <xs:documentation>a unique indentifier for this document</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentVersion" minOccurs="1" maxOccurs="1" type="version"/>
               <xs:element name="metadataID" minOccurs="0" maxOccurs="1" type="xs:anyURI"/>
               <xs:element name="metadataVersion" minOccurs="0" maxOccurs="1" type="version"/>
               <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                  <xs:annotation>
                     <xs:documentation>The id of this document as referenced by an external body (ie: DOI, or even IPSL)</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentAuthor" minOccurs="0" maxOccurs="1" type="ResponsibleParty">
                  <xs:annotation>
                     <xs:documentation>A contact for the author of this <i>document </i>(as opposed to the author of the artifact being described by this document; ie: the simulation or component or whatever).</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentCreationDate" minOccurs="1" maxOccurs="1" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>The date the <i>document </i>was created.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="documentGenealogy" minOccurs="0" maxOccurs="1" type="Genealogy">
                  <xs:annotation>
                     <xs:documentation>Specifies the relationship of this document with another document. Various relationship types (depending on the type of document; ie: simulation, component, etc.) are supported.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="quality" minOccurs="0" maxOccurs="unbounded" type="CIM_Quality">
                  <xs:annotation>
                     <xs:documentation>a (set of) quality record(s) for this document.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute name="documentStatus" use="optional" type="DocumentStatusType"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:element>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Compiler">
   <xs:annotation>
      <xs:documentation>A description of a compiler used on a particular platform.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="compilerName" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="compilerVersion" minOccurs="1" maxOccurs="1" type="version"/>
      <xs:element name="compilerLanguage" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="compilerOptions" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>The set of options used during compilation (recorded here as a single string rather than separate elements)</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="compilerEnvironmentVariables" minOccurs="0" maxOccurs="1"
                  type="xs:string">
         <xs:annotation>
            <xs:documentation>The state of envrionment variables used during compilation (recorded here as a single string rather than separate elements)</xs:documentation>
         </xs:annotation>
      </xs:element>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="License">
   <xs:annotation>
      <xs:documentation>A description of a license restricting access to a unit of data or software.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="licenseName" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>The name that the license goes by (ie: "GPL")</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="licenseContact" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>The point of contact for access to this artifact; may be either a person or an institution</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="licenseDescription" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>A textual description of the license; might be the full text of the license, more likely to be a brief summary</xs:documentation>
         </xs:annotation>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="unrestricted" use="required" type="xs:boolean">
      <xs:annotation>
         <xs:documentation>If unrestricted="true" then the artifact can be downloaded with no restrictions (ie: there are no administrative steps for the user to deal with; code or data can be downloaded and used directly).</xs:documentation>
      </xs:annotation>
   </xs:attribute>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DocumentRelationship">
   <xs:annotation>
      <xs:documentation>Contains the set of relationships supported by a Document.</xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="Relationship">
                    <xs:sequence>
      <xs:element name="target" minOccurs="1" maxOccurs="1">
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="document">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="simulationRun"/>
                        <xs:element ref="simulationComposite"/>
                        <xs:element ref="numericalExperiment"/>
                        <xs:element ref="dataProcessing"/>
                        <xs:element ref="ensemble"/>
                        <xs:element ref="dataObject"/>
                        <xs:element ref="gridSpec"/>
                        <xs:element ref="cIM_Quality"/>
                        <xs:element ref="platform"/>
                        <xs:element ref="processorComponent"/>
                        <xs:element ref="modelComponent"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="type" use="required" type="DocumentRelationshipType"/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Calendar" abstract="true">
   <xs:annotation>
      <xs:documentation>Describes a method of calculating a span of dates.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="length" minOccurs="0" maxOccurs="1" type="xs:integer"/>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>Describes the finer details of the calendar, in case they are not-obvious.  For example, if an experiment has changing conditions within it (ie: 1% CO2 increase until 2100, then hold fixed for the remaining period of the  experment)</xs:documentation>
         </xs:annotation>
      </xs:element>
      <!-- this is an abstract class --><xs:element name="range" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1">
               <xs:element name="closedDateRange" type="ClosedDateRange"/>
               <xs:element name="openDateRange" type="OpenDateRange"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="units" use="optional" type="CalendarUnit"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="MachineCompilerUnit">
   <xs:annotation>
      <xs:documentation>Associates a machine with a [set of] compilers.  This is a separate class in case a platform needs to specify more than one machine/compiler pair.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="machine" minOccurs="1" maxOccurs="1" type="Machine"/>
      <xs:element name="compiler" minOccurs="1" maxOccurs="unbounded" type="Compiler"/>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataSource" abstract="true">
   <xs:annotation>
      <xs:documentation>A DataSource can be realised by either a DataObject (file), a DataContent (variable), a Component (model), or a ComponentProperty (variable); all of those can supply data.</xs:documentation>
   </xs:annotation>
   <xs:sequence/>
   <xs:attribute name="purpose" use="optional" type="DataPurpose"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CodeList" mixed="false">
   <xs:annotation>
      <xs:documentation>A placeholder for "still-to-be-defined" codelists (required for XSL generation).</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="controlledVocabulary" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="name" type="xs:string"/>
               <xs:element name="version" type="version" minOccurs="0"/>
               <xs:element name="server" type="xs:anyURI"/>
               <xs:element name="description" type="xs:string" minOccurs="0"/>
               <xs:element name="details" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="cv" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="open" use="required" type="xs:boolean" fixed="false"/>
   <xs:attribute name="value" use="required" type="nonEmptyString"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="OpenDateRange">
   <xs:annotation>
      <xs:documentation>A date range without a specified start and/or end point.</xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="DateRange">
                    <xs:sequence>
      <xs:element name="startDate" minOccurs="0" maxOccurs="1" type="xs:dateTime"/>
      <xs:element name="endDate" minOccurs="0" maxOccurs="1" type="xs:dateTime"/>
   </xs:sequence>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DocumentRelationshipType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="similarTo"/>
      <xs:enumeration value="other"/>
      <xs:enumeration value="laterVersionOf"/>
      <xs:enumeration value="previousVersionOf"/>
      <xs:enumeration value="fixedVersionOf"/>
   </xs:restriction>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="MachineType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="Parallel"/>
      <xs:enumeration value="Vector"/>
      <xs:enumeration value="Beowulf"/>
   </xs:restriction>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ChangePropertyType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="InputMod"/>
      <xs:enumeration value="ModelMod"/>
      <xs:enumeration value="Decrement"/>
      <xs:enumeration value="Increment"/>
      <xs:enumeration value="Redistribution"/>
      <xs:enumeration value="Replacement"/>
      <xs:enumeration value="ParameterChange">
         <xs:annotation>
            <xs:documentation>a specific type of ModelMod</xs:documentation>
         </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CodeChange">
         <xs:annotation>
            <xs:documentation>a specific type of ModelMod</xs:documentation>
         </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="AncillaryFile">
         <xs:annotation>
            <xs:documentation>a specific type of InputMod</xs:documentation>
         </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BoundaryCondition">
         <xs:annotation>
            <xs:documentation>a specific type of InputMod</xs:documentation>
         </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="InitialCondition">
         <xs:annotation>
            <xs:documentation>a specific type of InputMod</xs:documentation>
         </xs:annotation>
      </xs:enumeration>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Document" abstract="true">
   <xs:annotation>
      <xs:documentation>Any class or feature with the &lt;&lt;document&gt;&gt; stereotype uses the attributes of this class. Furthermore, any class or feature with the &lt;&lt;document&gt;&gt; stereotype can form the root of an XML document.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="documentID" minOccurs="1" maxOccurs="1" type="guid">
         <xs:annotation>
            <xs:documentation>a unique indentifier for this document</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="documentVersion" minOccurs="1" maxOccurs="1" type="version"/>
      <xs:element name="metadataID" minOccurs="0" maxOccurs="1" type="xs:anyURI"/>
      <xs:element name="metadataVersion" minOccurs="0" maxOccurs="1" type="version"/>
      <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
         <xs:annotation>
            <xs:documentation>The id of this document as referenced by an external body (ie: DOI, or even IPSL)</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="documentAuthor" minOccurs="0" maxOccurs="1" type="ResponsibleParty">
         <xs:annotation>
            <xs:documentation>A contact for the author of this <i>document </i>(as opposed to the author of the artifact being described by this document; ie: the simulation or component or whatever).</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="documentCreationDate" minOccurs="1" maxOccurs="1" type="xs:dateTime">
         <xs:annotation>
            <xs:documentation>The date the <i>document </i>was created.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="documentGenealogy" minOccurs="0" maxOccurs="1" type="Genealogy">
         <xs:annotation>
            <xs:documentation>Specifies the relationship of this document with another document. Various relationship types (depending on the type of document; ie: simulation, component, etc.) are supported.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="quality" minOccurs="0" maxOccurs="unbounded" type="CIM_Quality">
         <xs:annotation>
            <xs:documentation>a (set of) quality record(s) for this document.</xs:documentation>
         </xs:annotation>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="documentStatus" use="optional" type="DocumentStatusType"/>
</xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Identifier">
   <xs:restriction base="xs:token">
      <xs:annotation>
         <xs:documentation>Needed so that a Numerical Requirement can be be uniquely identified and related to a specific data granule. </xs:documentation>
      </xs:annotation>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="PropertyValue">
                                <xs:simpleContent>
                                <xs:extension base="xs:anySimpleType">
                            <xs:attribute name="validMin" use="optional" type="xs:decimal"/>
   <xs:attribute name="validMax" use="optional" type="xs:decimal"/>
   <xs:attribute name="fillValue" use="optional" type="xs:anySimpleType">
      <xs:annotation>
         <xs:documentation>The value to use when the real value is unavailable (ie: cannot be coupled).</xs:documentation>
      </xs:annotation>
   </xs:attribute>
   <xs:attribute name="numericalType" use="optional" type="xs:string">
      <xs:annotation>
         <xs:documentation>The datatype of the value: string, int, double, etc.</xs:documentation>
      </xs:annotation>
   </xs:attribute>  
                            </xs:extension>
                            </xs:simpleContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Machine">
   <xs:annotation>
      <xs:documentation>A description of a machine used by a particular platform.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="machineName" minOccurs="1" maxOccurs="1" type="xs:string"/>
      <xs:element name="machineSystem" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="machineLibrary" minOccurs="0" maxOccurs="unbounded" type="xs:string">
         <xs:annotation>
            <xs:documentation>A library residing on this machine.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="machineDescription" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="machineLocation" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="machineOperatingSystem" minOccurs="0" maxOccurs="1"
                  type="OperatingSystemType"/>
      <xs:element name="machineVendor" minOccurs="0" maxOccurs="1" type="MachineVendorType"/>
      <xs:element name="machineInterconnect" minOccurs="0" maxOccurs="1" type="InterconnectType"/>
      <xs:element name="machineMaximumProcessors" minOccurs="0" maxOccurs="1" type="xs:integer"/>
      <xs:element name="machineCoresPerProcessor" minOccurs="0" maxOccurs="1" type="xs:integer"/>
      <xs:element name="machineProcessorType" minOccurs="0" maxOccurs="1" type="ProcessorType"/>
   </xs:sequence>
   <xs:attribute name="machineType" use="optional" type="MachineType"/>
</xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DataPurpose">
   <xs:restriction base="xs:string">
      <xs:enumeration value="ancillaryFile"/>
      <xs:enumeration value="boundaryCondition"/>
      <xs:enumeration value="initialCondition"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="StandardName" mixed="true">
   <xs:annotation>
      <xs:documentation>Describes a name given to an entity from a recognised standard.  The CIM records the standard and the name.  For example, the standard might be "CF" and the name might be "atmospheric_pressure".</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="controlledVocabulary" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="name" type="xs:string"/>
               <xs:element name="version" type="version" minOccurs="0"/>
               <xs:element name="server" type="xs:anyURI"/>
               <xs:element name="description" type="xs:string" minOccurs="0"/>
               <xs:element name="details" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="cv" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="open" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="value" use="required" type="nonEmptyString"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="OperatingSystemType"
                mixed="true">
   <xs:annotation>
      <xs:documentation>A list of common operating systems.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="controlledVocabulary" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="name" type="xs:string"/>
               <xs:element name="version" type="version" minOccurs="0"/>
               <xs:element name="server" type="xs:anyURI"/>
               <xs:element name="description" type="xs:string" minOccurs="0"/>
               <xs:element name="details" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="cv" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="open" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="value" use="required" type="nonEmptyString"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Daily-360">
                        <xs:complexContent>
                        <xs:extension base="Calendar">
                    <xs:sequence/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Genealogy">
   <xs:annotation>
      <xs:documentation>A record of a document's history.  A genealogy element contains a textual description and a set of relationships.  Each relationship has a type and a reference to some target.  There are different relationships for different document types.</xs:documentation>
   </xs:annotation>
   <xs:sequence><!-- this is an abstract class --><xs:element name="relationship" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1">
               <xs:element name="experimentRelationship" type="ExperimentRelationship"/>
               <xs:element name="simulationRelationship" type="SimulationRelationship"/>
               <xs:element name="documentRelationship" type="DocumentRelationship"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
</xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DocumentStatusType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="complete"/>
      <xs:enumeration value="incomplete"/>
      <xs:enumeration value="in-progress"/>
   </xs:restriction>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CalendarUnit">
   <xs:restriction base="xs:string">
      <xs:enumeration value="days"/>
      <xs:enumeration value="months"/>
      <xs:enumeration value="years"/>
   </xs:restriction>
</xs:simpleType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="RelationshipDirectionType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="toTarget"/>
      <xs:enumeration value="fromTarget"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Relationship" abstract="true">
   <xs:annotation>
      <xs:documentation>A record of a relationship between one document and another.  This class is abstract; specific document types must specialise this class for their relationshipTypes to be included in a document's genealogy.</xs:documentation>
   </xs:annotation>
   <xs:sequence><!--type is not used -->       
<!--target is not used -->       
<xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
   </xs:sequence>
   <xs:attribute name="direction" use="required" type="RelationshipDirectionType"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ResponsibleParty">
   <xs:annotation>
      <xs:documentation>A CIM-specific ResponsibleParty.  Sub-classes the gmd ResponsibleParty type and adds the attribute "abbreviation."</xs:documentation>
   </xs:annotation>
                                <xs:complexContent>
                                <xs:extension base="gmd:CI_ResponsibleParty_Type">
                            <xs:sequence>
      <xs:element name="abbreviation" minOccurs="0" maxOccurs="1" type="xs:string"/>
   </xs:sequence>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Change">
   <xs:annotation>
      <xs:documentation>A description of [a set of] changes applied at a particular time, by a particular party, to a particular unit of metadata (identified using XPath). Currently unused in the CIM.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>A mnemonic for describing a particular change.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="changeTarget" minOccurs="0" maxOccurs="1">
         <xs:annotation>
            <xs:documentation>The CIM element being changed.  If this is blank, then it is implied by the target of its parent (a Change instance currently can only appear as part of a reference which has a target anyway).</xs:documentation>
         </xs:annotation>
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element name="document">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1">
                        <xs:element ref="simulationRun"/>
                        <xs:element ref="simulationComposite"/>
                        <xs:element ref="numericalExperiment"/>
                        <xs:element ref="dataProcessing"/>
                        <xs:element ref="ensemble"/>
                        <xs:element ref="dataObject"/>
                        <xs:element ref="gridSpec"/>
                        <xs:element ref="cIM_Quality"/>
                        <xs:element ref="platform"/>
                        <xs:element ref="processorComponent"/>
                        <xs:element ref="modelComponent"/>
                     </xs:choice>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <xs:element name="changeDate" minOccurs="0" maxOccurs="1" type="xs:dateTime">
         <xs:annotation>
            <xs:documentation>The date the change was implemented.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="changeAuthor" minOccurs="0" maxOccurs="1" type="ResponsibleParty">
         <xs:annotation>
            <xs:documentation>The person that made the change.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string"/>
      <xs:element name="detail" minOccurs="1" maxOccurs="unbounded" type="ChangeProperty"/>
   </xs:sequence>
   <xs:attribute name="type" use="optional" type="ChangePropertyType"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DateRange" abstract="true">
   <xs:sequence/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ChangeProperty">
   <xs:annotation>
      <xs:documentation>A description of a single change applied to a single target.  Every ChangeProperty has a description, and may also have a name from a controlled vocabulary and a value.

Currently unused in the CIM.</xs:documentation>
   </xs:annotation>
                        <xs:complexContent>
                        <xs:extension base="Property">
                    <xs:sequence>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>A text description of the change.  May be used in addition to, or instead of, the more formal description provided by the "value" attribute.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="id" minOccurs="0" maxOccurs="1" type="Identifier"/>
   </xs:sequence>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="MachineVendorType" mixed="true">
   <xs:annotation>
      <xs:documentation>A list of organisations that create machines.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="controlledVocabulary" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="name" type="xs:string"/>
               <xs:element name="version" type="version" minOccurs="0"/>
               <xs:element name="server" type="xs:anyURI"/>
               <xs:element name="description" type="xs:string" minOccurs="0"/>
               <xs:element name="details" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="cv" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="open" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="value" use="required" type="nonEmptyString"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="InterconnectType" mixed="true">
   <xs:annotation>
      <xs:documentation>A list of known compilers.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="controlledVocabulary" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="name" type="xs:string"/>
               <xs:element name="version" type="version" minOccurs="0"/>
               <xs:element name="server" type="xs:anyURI"/>
               <xs:element name="description" type="xs:string" minOccurs="0"/>
               <xs:element name="details" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="cv" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="open" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="value" use="required" type="nonEmptyString"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="UnitType" mixed="true">
   <xs:annotation>
      <xs:documentation>A list of scientific units.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="controlledVocabulary" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="name" type="xs:string"/>
               <xs:element name="version" type="version" minOccurs="0"/>
               <xs:element name="server" type="xs:anyURI"/>
               <xs:element name="description" type="xs:string" minOccurs="0"/>
               <xs:element name="details" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="cv" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="open" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="value" use="required" type="nonEmptyString"/>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="PropertyGroup" abstract="true">
   <xs:annotation>
      <xs:documentation>A collection of Properties.  A PropertyGroup can itself contain other PropertyGroups.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="id" minOccurs="0" maxOccurs="1" type="Identifier">
         <xs:annotation>
            <xs:documentation>A unique id for this group of properties.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>The name of this group of properties.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <!-- this is an abstract class --><xs:element name="property" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1">
               <xs:element name="dataProperty" type="DataProperty"/>
               <xs:element name="couplingProperty" type="CouplingProperty"/>
               <xs:element name="spatialRegriddingProperty" type="SpatialRegriddingProperty"/>
               <xs:element name="connectionProperty" type="ConnectionProperty"/>
               <xs:element name="changeProperty" type="ChangeProperty"/>
               <xs:element name="componentLanguageProperty" type="ComponentLanguageProperty"/>
            </xs:choice>
         </xs:complexType>
      </xs:element>
      <!-- this is an abstract class --><xs:element name="childGroup" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="1"/>
         </xs:complexType>
      </xs:element>
      <xs:element name="parentGroup" minOccurs="0" maxOccurs="1">
         <xs:complexType>
            <xs:choice>
               <xs:element name="reference">
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
                           <xs:annotation>
                              <xs:documentation>the ID of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The name of the instance being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
                           <xs:annotation>
                              <xs:documentation>The version of the element being referenced.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
                           <xs:annotation>
                              <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
                           <xs:annotation>
                              <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                        <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
                           <xs:annotation>
                              <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
                           </xs:annotation>
                        </xs:element>
                     </xs:sequence>
                     <xs:attribute ref="xlink:href" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <!-- this is an abstract class --><xs:element name="parentGroup" minOccurs="0" maxOccurs="1">
                  <xs:complexType>
                     <xs:choice minOccurs="1" maxOccurs="1"/>
                  </xs:complexType>
               </xs:element>
            </xs:choice>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
</xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Reference" abstract="true">
   <xs:annotation>
      <xs:documentation>Any class or feature with the &lt;&lt;reference&gt;&gt; stereotype uses the attributes of this class.  

With all the different ways of pinpointing an XML item, a reference can either use XPATH to directly locate the item or it can just identifiy the document and then use the other attributes (name,type,etc.) to narrow down the particular element within that document.  </xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="id" minOccurs="0" maxOccurs="1" type="guid">
         <xs:annotation>
            <xs:documentation>the ID of the element being referenced.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="name" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>The name of the instance being referenced.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="type" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>The type of item being referenced (should correspond to the name of the referenced XML element).</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="version" minOccurs="0" maxOccurs="1" type="version">
         <xs:annotation>
            <xs:documentation>The version of the element being referenced.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="externalID" minOccurs="0" maxOccurs="unbounded" type="StandardName">
         <xs:annotation>
            <xs:documentation>A non-CIM (non-GUID) id used to reference the element in question.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="description" minOccurs="0" maxOccurs="1" type="xs:string">
         <xs:annotation>
            <xs:documentation>A description of the element being referenced, in the context of the current class.</xs:documentation>
         </xs:annotation>
      </xs:element>
      <xs:element name="change" minOccurs="0" maxOccurs="unbounded" type="Change">
         <xs:annotation>
            <xs:documentation>An optional description of how the item being referenced has been modified.  This is particularly useful for dealing with Ensembles (a set of simulations where something about each simulation has changed) or Conformances.</xs:documentation>
         </xs:annotation>
      </xs:element>
   </xs:sequence>
</xs:complexType>
<xs:simpleType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="LogicalRelationshipType">
   <xs:restriction base="xs:string">
      <xs:enumeration value="AND"/>
      <xs:enumeration value="OR"/>
      <xs:enumeration value="XOR"/>
   </xs:restriction>
</xs:simpleType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="PerpetualPeriod">
                        <xs:complexContent>
                        <xs:extension base="Calendar">
                    <xs:sequence/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="RealCalendar">
                        <xs:complexContent>
                        <xs:extension base="Calendar">
                    <xs:sequence/>  
                            </xs:extension>
                            </xs:complexContent>
                        </xs:complexType>
<xs:complexType xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ProcessorType" mixed="true">
   <xs:annotation>
      <xs:documentation>A list of known compilers.</xs:documentation>
   </xs:annotation>
   <xs:sequence>
      <xs:element name="controlledVocabulary" minOccurs="0" maxOccurs="unbounded">
         <xs:complexType>
            <xs:sequence>
               <xs:element name="name" type="xs:string"/>
               <xs:element name="version" type="version" minOccurs="0"/>
               <xs:element name="server" type="xs:anyURI"/>
               <xs:element name="description" type="xs:string" minOccurs="0"/>
               <xs:element name="details" type="xs:string" minOccurs="0"/>
            </xs:sequence>
         </xs:complexType>
      </xs:element>
   </xs:sequence>
   <xs:attribute name="cv" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="open" use="required" type="xs:boolean" fixed="true"/>
   <xs:attribute name="value" use="required" type="nonEmptyString"/>
</xs:complexType>       
</xs:schema>