schemas/cimCommon.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:cim="http://www.purl.org/org/esmetadata/cim/1.9.2/schemas" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" targetNamespace="http://www.purl.org/org/esmetadata/cim/1.9.2/schemas" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>A package containing common elements that are used across the model.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
    <element name="M4C_MachineCompilerUnit" substitutionGroup="gml:AbstractGML" type="cim:M4C_MachineCompilerUnitType">
        <annotation>
            <documentation>Associates a machine with a [set of] compilers.  This is a separate class in case a platform needs to specify more than one machine/compiler pair.</documentation>
        </annotation>
    </element>
    <complexType name="M4C_MachineCompilerUnitType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="machine" type="cim:M4C_MachinePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="compiler" type="cim:M4C_CompilerPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4C_MachineCompilerUnitPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4C_MachineCompilerUnit"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4C_Machine" substitutionGroup="gml:AbstractGML" type="cim:M4C_MachineType">
        <annotation>
            <documentation>A description of a machine used by a particular platform.</documentation>
        </annotation>
    </element>
    <complexType name="M4C_MachineType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="machineName" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="machineSystem" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="machineDescription" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="machineLocation" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="machineOperatingSystem" type="cim:M4C_OperatingSystemTypeType"/>
                    <element maxOccurs="1" minOccurs="0" name="machineType" type="cim:M4C_MachineTypeType"/>
                    <element maxOccurs="1" minOccurs="0" name="machineVendor" type="cim:M4C_MachineVendorTypeType"/>
                    <element maxOccurs="1" minOccurs="0" name="machineInterconnect" type="cim:M4C_InterconnectTypeType"/>
                    <element maxOccurs="1" minOccurs="0" name="machineMaximumProcessors" type="integer"/>
                    <element maxOccurs="1" minOccurs="0" name="machineCoresPerProcessor" type="integer"/>
                    <element maxOccurs="1" minOccurs="0" name="machineProcessorType" type="cim:M4C_ProcessorTypeType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4C_MachinePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4C_Machine"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4C_Change" substitutionGroup="gml:AbstractGML" type="cim:M4C_ChangeType">
        <annotation>
            <documentation>A description of [a set of] changes applied at a particular time, by a particular party, to a particular unit of metadata (identified using XPath). Currently unused in the CIM.</documentation>
        </annotation>
    </element>
    <complexType name="M4C_ChangeType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="name" type="string">
                        <annotation>
                            <documentation>A mnemonic for describing a particular change.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="changeTarget" type="cim:M4C_DocumentMetadataPropertyType">
                        <annotation>
                            <documentation>The CIM element being changed.  If this is blank, then it is implied by the target of its parent (a Change instance currently can only appear as part of a reference which has a target anyway).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="changeDate" type="dateTime">
                        <annotation>
                            <documentation>The date the change was implemented.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="changeAuthor" type="cim:M4C_ResponsiblePartyPropertyType">
                        <annotation>
                            <documentation>The person that made the change.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="type" type="cim:M4C_ChangePropertyTypeType"/>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4C_ChangePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4C_Change"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4C_DocumentMetadata" substitutionGroup="gml:AbstractGML" type="cim:M4C_DocumentMetadataType">
        <annotation>
            <documentation>A set of metadata items that are attached to several classes in the CIM.

A unique identifier is not included because it would automatically be added during the process of GML serialisation.</documentation>
        </annotation>
    </element>
    <complexType name="M4C_DocumentMetadataType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="documentVersion" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="metadataID" type="gmd:URL_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="metadataVersion" type="string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="externalID" type="gmd:CI_Citation_PropertyType">
                        <annotation>
                            <documentation>The id of this document as referenced by an external body (ie: DOI, or even IPSL)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="documentAuthor" type="cim:M4C_ResponsiblePartyPropertyType">
                        <annotation>
                            <documentation>A contact for the author of this &lt;i&gt;document &lt;/i&gt;(as opposed to the author of the artifact being described by this document; ie: the simulation or component or whatever).</documentation>
                        </annotation>
                    </element>
                    <element name="documentCreationDate" type="dateTime">
                        <annotation>
                            <documentation>The date the &lt;i&gt;document &lt;/i&gt;was created.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="documentStatus" type="gmd:MD_ProgressCode_PropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="target" type="cim:M4C_DocumentMetadataPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="restriction" type="gmd:MD_Constraints_PropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4C_DocumentMetadataPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4C_DocumentMetadata"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4C_Platform" substitutionGroup="gml:AbstractGML" type="cim:M4C_PlatformType">
        <annotation>
            <documentation>A platform is a description of resources used to deploy a component/simulation.  A platform pairs a machine with a (set of) compilers. There is also a point of contact for the platform. </documentation>
        </annotation>
    </element>
    <complexType name="M4C_PlatformType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="shortName" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="longName" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="contact" type="cim:M4C_ResponsiblePartyPropertyType"/>
                    <element name="documentMetadata" type="cim:M4C_DocumentMetadataPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="1" name="unit" type="cim:M4C_MachineCompilerUnitPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4C_PlatformPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4C_Platform"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4C_Library" substitutionGroup="gml:AbstractGML" type="cim:M4C_LibraryType"/>
    <complexType name="M4C_LibraryType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="name" type="string"/>
                    <element name="version" type="string"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="installedOn" type="cim:M4C_MachinePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4C_LibraryPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4C_Library"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4C_Compiler" substitutionGroup="gml:AbstractGML" type="cim:M4C_CompilerType">
        <annotation>
            <documentation>A description of a compiler used on a particular platform.</documentation>
        </annotation>
    </element>
    <complexType name="M4C_CompilerType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="compilerName" type="string"/>
                    <element name="compilerVersion" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="compilerLanguage" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="compilerOptions" type="string">
                        <annotation>
                            <documentation>The set of options used during compilation (recorded here as a single string rather than separate elements)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="compilerEnvironmentVariables" type="string">
                        <annotation>
                            <documentation>The state of envrionment variables used during compilation (recorded here as a single string rather than separate elements)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="compilerType" type="cim:M4C_CompilerTypeType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="installedOn" type="cim:M4C_MachinePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4C_CompilerPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4C_Compiler"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4C_DocumentRelationship" substitutionGroup="gml:AbstractGML" type="cim:M4C_DocumentRelationshipType"/>
    <complexType name="M4C_DocumentRelationshipType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="type" type="cim:M4C_DocumentRelationshipTypeType"/>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4C_DocumentRelationshipPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4C_DocumentRelationship"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4C_License" substitutionGroup="gmd:MD_LegalConstraints" type="cim:M4C_LicenseType">
        <annotation>
            <documentation>A description of a license restricting access to a unit of data or software.</documentation>
        </annotation>
    </element>
    <complexType name="M4C_LicenseType">
        <complexContent>
            <extension base="gmd:MD_LegalConstraints_Type">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="licenseName" type="string">
                        <annotation>
                            <documentation>The name that the license goes by (ie: "GPL")</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="licenseContact" type="string">
                        <annotation>
                            <documentation>The point of contact for access to this artifact; may be either a person or an institution</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="licenseDescription" type="string">
                        <annotation>
                            <documentation>A textual description of the license; might be the full text of the license, more likely to be a brief summary</documentation>
                        </annotation>
                    </element>
                    <element name="unrestricted" type="boolean">
                        <annotation>
                            <documentation>If unrestricted="true" then the artifact can be downloaded with no restrictions (ie: there are no administrative steps for the user to deal with; code or data can be downloaded and used directly).</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4C_LicensePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4C_License"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4C_ResponsibleParty" substitutionGroup="gmd:CI_ResponsibleParty" type="cim:M4C_ResponsiblePartyType">
        <annotation>
            <documentation>A CIM-specific ResponsibleParty.  Sub-classes the gmd ResponsibleParty type and adds the attribute "abbreviation."</documentation>
        </annotation>
    </element>
    <complexType name="M4C_ResponsiblePartyType">
        <complexContent>
            <extension base="gmd:CI_ResponsibleParty_Type">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="abbreviation" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4C_ResponsiblePartyPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4C_ResponsibleParty"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="M4C_MachineTypeType">
        <restriction base="string">
            <enumeration value="Beowulf"/>
            <enumeration value="Parallel"/>
            <enumeration value="Vector"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_TimeUnitTypeType">
        <restriction base="string">
            <enumeration value="century"/>
            <enumeration value="decade"/>
            <enumeration value="year"/>
            <enumeration value="month"/>
            <enumeration value="day"/>
            <enumeration value="hour"/>
            <enumeration value="second"/>
            <enumeration value="minute"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_LogicalChoiceTypeType">
        <restriction base="string">
            <enumeration value="keyboard"/>
            <enumeration value="XOR"/>
            <enumeration value="AND"/>
            <enumeration value="OR"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_DocumentRelationshipTypeType">
        <restriction base="string">
            <enumeration value="fixedVersionOf"/>
            <enumeration value="previousVersionOf"/>
            <enumeration value="laterVersionOf"/>
            <enumeration value="similarTo"/>
            <enumeration value="other"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_ChangePropertyTypeType">
        <restriction base="string">
            <enumeration value="InputMod"/>
            <enumeration value="Unused"/>
            <enumeration value="InitialCondition">
                <annotation>
                    <documentation>a specific type of InputMod</documentation>
                </annotation>
            </enumeration>
            <enumeration value="BoundaryCondition">
                <annotation>
                    <documentation>a specific type of InputMod</documentation>
                </annotation>
            </enumeration>
            <enumeration value="AncillaryFile">
                <annotation>
                    <documentation>a specific type of InputMod</documentation>
                </annotation>
            </enumeration>
            <enumeration value="CodeChange">
                <annotation>
                    <documentation>a specific type of ModelMod</documentation>
                </annotation>
            </enumeration>
            <enumeration value="ParameterChange">
                <annotation>
                    <documentation>a specific type of ModelMod</documentation>
                </annotation>
            </enumeration>
            <enumeration value="Replacement"/>
            <enumeration value="Redistribution"/>
            <enumeration value="Increment"/>
            <enumeration value="ModelMod"/>
            <enumeration value="Decrement"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_DataPurposeTypeType">
        <union memberTypes="cim:M4C_DataPurposeTypeEnumerationType cim:M4C_DataPurposeTypeOtherType"/>
    </simpleType>
    <simpleType name="M4C_DataPurposeTypeEnumerationType">
        <restriction base="string">
            <enumeration value="initialCondition"/>
            <enumeration value="ancillaryFile"/>
            <enumeration value="boundaryCondition"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_DataPurposeTypeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_CompilerTypeType">
        <union memberTypes="cim:M4C_CompilerTypeEnumerationType cim:M4C_CompilerTypeOtherType"/>
    </simpleType>
    <simpleType name="M4C_CompilerTypeEnumerationType">
        <restriction base="string">
            <enumeration value="Silverfrost"/>
            <enumeration value="Portland PGI"/>
            <enumeration value="Pathscale"/>
            <enumeration value="NAG"/>
            <enumeration value="Lahey"/>
            <enumeration value="Absoft"/>
            <enumeration value="Intel"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_CompilerTypeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_InterconnectTypeType">
        <union memberTypes="cim:M4C_InterconnectTypeEnumerationType cim:M4C_InterconnectTypeOtherType"/>
    </simpleType>
    <simpleType name="M4C_InterconnectTypeEnumerationType">
        <restriction base="string">
            <enumeration value="Fat Tree"/>
            <enumeration value="Cray Interconnect"/>
            <enumeration value="SP Switch"/>
            <enumeration value="NUMAlink"/>
            <enumeration value="Mixed"/>
            <enumeration value="Infiniband"/>
            <enumeration value="Gigabit Ethernet"/>
            <enumeration value="Myrinet"/>
            <enumeration value="Quadrics"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_InterconnectTypeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_ProcessorTypeType">
        <union memberTypes="cim:M4C_ProcessorTypeEnumerationType cim:M4C_ProcessorTypeOtherType"/>
    </simpleType>
    <simpleType name="M4C_ProcessorTypeEnumerationType">
        <restriction base="string">
            <enumeration value="Other AMD"/>
            <enumeration value="Other Intel"/>
            <enumeration value="AMD X86_64"/>
            <enumeration value="Intel EM64T"/>
            <enumeration value="Intel IA-64"/>
            <enumeration value="Intel"/>
            <enumeration value="NEC"/>
            <enumeration value="Sparc"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_ProcessorTypeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_OperatingSystemTypeType">
        <union memberTypes="cim:M4C_OperatingSystemTypeEnumerationType cim:M4C_OperatingSystemTypeOtherType"/>
    </simpleType>
    <simpleType name="M4C_OperatingSystemTypeEnumerationType">
        <restriction base="string">
            <enumeration value="SunOS"/>
            <enumeration value="Irix64"/>
            <enumeration value="Unicos"/>
            <enumeration value="Darwin"/>
            <enumeration value="Linux"/>
            <enumeration value="AIX"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_OperatingSystemTypeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_MachineVendorTypeType">
        <union memberTypes="cim:M4C_MachineVendorTypeEnumerationType cim:M4C_MachineVendorTypeOtherType"/>
    </simpleType>
    <simpleType name="M4C_MachineVendorTypeEnumerationType">
        <restriction base="string">
            <enumeration value="ACTION"/>
            <enumeration value="Appro International"/>
            <enumeration value="Bull SA"/>
            <enumeration value="ClusterVision/Dell"/>
            <enumeration value="ClusterVision/IBM"/>
            <enumeration value="Cray Inc"/>
            <enumeration value="DALCO AG Switzerland"/>
            <enumeration value="Dawning"/>
            <enumeration value="Dell"/>
            <enumeration value="DELL/ACS"/>
            <enumeration value="Dell/Sun/IBM"/>
            <enumeration value="Fujitsu"/>
            <enumeration value="Hewlett-Packard"/>
            <enumeration value="Hitachi"/>
            <enumeration value="IBM"/>
            <enumeration value="Intel"/>
            <enumeration value="Koi Computers"/>
            <enumeration value="Lenovo"/>
            <enumeration value="T-Platforms"/>
            <enumeration value="Sun Microsystems"/>
            <enumeration value="SKIF/T-Platforms"/>
            <enumeration value="SGI"/>
            <enumeration value="Self-made"/>
            <enumeration value="Raytheon-Aspen Systems/Appro"/>
            <enumeration value="Pyramid Computer"/>
            <enumeration value="NUDT"/>
            <enumeration value="NEC/Sun"/>
            <enumeration value="Linux Networx"/>
            <enumeration value="NEC"/>
        </restriction>
    </simpleType>
    <simpleType name="M4C_MachineVendorTypeOtherType">
        <restriction base="string">
            <pattern value="other: \w{2,}"/>
        </restriction>
    </simpleType>
</schema>