schemas/cimGrids.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:cim="http://www.purl.org/org/esmetadata/cim/1.9.2/schemas" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" targetNamespace="http://www.purl.org/org/esmetadata/cim/1.9.2/schemas" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>A package containing classes relating to grids.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
    <include schemaLocation="cimCommon.xsd"/>
    <element name="M4G_ExchangeGridCell" substitutionGroup="cim:M4G_GridCell" type="cim:M4G_ExchangeGridCellType">
        <annotation>
            <documentation>Intended usage is for defining cells in exchange grids. Such cells reference 'parent' grid cells in the two grids partaking in an exchange. The association isn't really a parent-child one, but the name seems to have stuck.</documentation>
        </annotation>
    </element>
    <complexType name="M4G_ExchangeGridCellType">
        <complexContent>
            <extension base="cim:M4G_GridCellType">
                <sequence>
                    <element maxOccurs="2" minOccurs="2" name="parentCell" type="cim:M4G_GridCellRefPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_ExchangeGridCellPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_ExchangeGridCell"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_GridCell" substitutionGroup="gml:AbstractFeature" type="cim:M4G_GridCellType">
        <annotation>
            <documentation>This abstract base class is used to model various types of grid cells. Every GridCell object has its boundary defined by at least 3 vertices, though 4 will probably be more typical. Vertices are either defined directly (e.g. in the case of a SimpleGridCell object), or indirectly by referencing a remote grid cell (in the case of an ExchangeGridCell object).</documentation>
        </annotation>
    </element>
    <complexType name="M4G_GridCellType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="centroid" type="gml:PointPropertyType">
                        <annotation>
                            <documentation>Optionally specifies the coordinate location of the centroid of a grid cell.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="area" type="gml:MeasureType">
                        <annotation>
                            <documentation>Optionally specifies the area of a 2D grid cell (or the footprint of a 3D grid cell). The units used must be specified via the 'uom' attribute associated with GML's MeasureType class.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="volume" type="gml:MeasureType">
                        <annotation>
                            <documentation>Optionally specifies the volume of a 3D grid cell.The units used must be specified via the 'uom' attribute associated with GML's MeasureType class.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_GridCellPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_GridCell"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_GridTile" substitutionGroup="gml:AbstractFeature" type="cim:M4G_GridTileType">
        <annotation>
            <documentation>The GridTile class is used to model an individual grid tile contained within a grid mosaic. A GridTile consists of an array of grid cells which may be defined in one of four ways: 1) for simple grids, by use of the SimpleGridGeometry data type; 2) by defining an array of GridCell objects; 3) by specifying an array of references to externally defined GridCell objects; or 4) by specifying a URI to a remote data file containing the grid cell definitions.

For all but the simplest grid tiles, it is envisaged that method 4 above will be the most frequently used option. However, it should be remembered that the CIM is primarily concerned with encoding climate model metadata. Specifying the coordinates of individual grid tiles and cells will most likely not be required as part of such metadata descriptions.

A GridTile object is associated with a geodetic or projected CRS via the horizontalCRS property, and with a vertical CRS via the verticalCRS property.</documentation>
        </annotation>
    </element>
    <complexType name="M4G_GridTileType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="area" type="gml:MeasureType">
                        <annotation>
                            <documentation>Specifies the area of the grid tile in the units defined by the 'uom' attribute that is attached to the GML MeasureType data type.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="cellArray" type="cim:M4G_GridCellArrayPropertyType">
                        <annotation>
                            <documentation>This property may be used to specify an array of grid cell definitions which together define the coordinate geometry of a grid tile. Depending on context, any of the existing sub-types of GridCell may be used. Mixing types is, however, not currently permitted.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="cellRefArray" type="cim:M4G_GridCellRefArrayPropertyType">
                        <annotation>
                            <documentation>This property may be used to define the coordinate geometry of a grid tile by specifying an array of references to remotely defined grid cells. Depending on context, any of the existing sub-types of GridCell may be referenced.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="coordFile" type="string">
                        <annotation>
                            <documentation>This property may be used to specify the URI of a file containing grid coordinates that define the geometry of a a grid tile. It is envisaged that this will be the preferred mechanism for specifying the geometry of complex grids.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="coordinatePole" type="gml:PointPropertyType">
                        <annotation>
                            <documentation>The coordinatePole property may be used to specify the lat-long position of any coordinate poles (in the mathematical sense) that form part of the definition of a grid tile. Not to be confused with the gridNorthPole property.

If required, two or more coordinate pole definitions may be distinguished by setting the gml:id attribute to appropriate values, such as "spole", "npole", etc.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string">
                        <annotation>
                            <documentation>A free-text description of a grid tile.</documentation>
                        </annotation>
                    </element>
                    <element name="discretizationType" type="cim:M4G_DiscretizationTypeType">
                        <annotation>
                            <documentation>Indicates the type of discretization applied to the grid tile, e.g. "logically_rectangular".</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="extent" type="gmd:EX_GeographicBoundingBox_PropertyType">
                        <annotation>
                            <documentation>The area covered by the tile.  Note that this uses a data type from ISO 19115, which specifies WGS84 as the coordinate system.  If this is not appropriate, EX_BoundingPolygon could be used instead.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="earthFigureGeometry" type="string">
                        <annotation>
                            <documentation>Indicates the geometric figure used to approximate the figure of the Earth, e.g. "sphere".

MODIFIED from 1.91 - type was CS_GeodeticCS 
In 1.5 it was an enumeraion of 'sphere', 'ellipsoid' or or 'plane'.
Changed to character string for now while establishing requirements.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="gridNorthPole" type="gml:PointPropertyType">
                        <annotation>
                            <documentation>If required, defines the lat-long position of the 'north pole' used by the grid tile in the case of rotated/displaced pole grids. Not to be confused with the coordinatePole property.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="horizontalCRS" type="gml:CRSPropertyType">
                        <annotation>
                            <documentation>Specifies the horizontal coordinate reference system used in the definition of the grid tile coordinates. This property should normally be an xlink reference to an external horizontal CRS definition (e.g. in a separate CRS dictionary). If required, however, the property may be defined in situ within a CIM document.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="horizontalResolution" type="cim:M4G_GridTileResolutionPropertyType">
                        <annotation>
                            <documentation>Provides an indication of the approximate spatial sampling size of the grid tile, i.e. the size of the underlying grid cells. (Note: the maximum spatial resolution of the grid is twice the sampling size (e.g. 2 km for a 1 km x 1 km grid pitch).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="isConformal" type="boolean">
                        <annotation>
                            <documentation>This property is used to indicate if the grid tile is conformal, i.e. angle-preserving. If so, angles measured on the grid are equal to the equivalent angles on the Earth.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="isRegular" type="boolean">
                        <annotation>
                            <documentation>If true, indicates that the horizontal coordinates of the grid can be defined using 1D arrays (vectors). This means that grid node locations are defined by the cartesian product of the X/Lon and Y/Lat coordinate vectors. It also means that grid cells are logically rectangular (they may also be physically rectangular in the case of projected coordinates).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="isTerrainFollowing" type="boolean">
                        <annotation>
                            <documentation>Set to true if the vertical coordinate system is terrain-following even if, as is often the case, this only applies to the lower levels of the grid.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="isUniform" type="boolean">
                        <annotation>
                            <documentation>If true, indicates that horizontal coordinates have fixed offsets in the X and Y directions. If the offset is the same in both directions then the grids are logically square, otherwise they are logically rectangular. The offsets can be specified by two scalar values (or three values in the case of 3D grids).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="longName" type="string">
                        <annotation>
                            <documentation>Specifies the long name associated with a grid tile. The long name will typically be a human-readable string, with acronyms expanded, used for labelling purposes.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="mnemonic" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="nx" type="gml:LengthType">
                        <annotation>
                            <documentation>Specifies the length of the X, or longitude, dimension of the grid tile.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="ny" type="gml:LengthType">
                        <annotation>
                            <documentation>Specifies the length of the Y, or latitude, dimension of the grid tile.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="nz" type="gml:LengthType">
                        <annotation>
                            <documentation>Specifies the length of the Z, or height/level, dimension of the grid tile. The zcoords coordinate list property, if specified, should have this length.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="refinementScheme" type="cim:M4G_RefinementTypeType"/>
                    <element maxOccurs="1" minOccurs="0" name="shortName" type="string">
                        <annotation>
                            <documentation>Specifies the short name associated with a grid tile. The short name will typically be a convenient abbreviation used to refer to a grid tile, e.g. 'NEMO T-Grid'.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="simpleGridGeom" type="cim:M4G_SimpleGridGeometryPropertyType">
                        <annotation>
                            <documentation>This property may be used to define the coordinates of the nodes or cells making up a simple (i.e. uniform or regular) grid tile. More details are provided in the description of the SimpleGridGeometry data type.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="verticalCRS" type="gml:CRSPropertyType">
                        <annotation>
                            <documentation>Specifies the vertical coordinate reference system used in the definition of the grid tile coordinates. This property should normally be an xlink reference to an external vertical CRS definition (e.g. in a separate CRS dictionary). If required, however, the property may be defined in situ within a CIM document.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="verticalResolution" type="cim:M4G_GridTileResolutionPropertyType">
                        <annotation>
                            <documentation>Provides an indication of the approximate resolution of the grid tile in the vertical dimension. (Added to align with corresponding ESG/Curator and DIF property).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="zcoords" type="cim:M4G_VerticalCoordListPropertyType">
                        <annotation>
                            <documentation>This optional property may be used to specify the vertical coordinates (e.g. heights or model levels) at which a grid tile is utilised or realised. In the case of simple grid tiles the equivalent zcoords property on the SimpleGridGeometry data type would be used instead. The current property is intended to be used when the horizontal grid coordinates are defined by one of the other methods.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_GridTilePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_GridTile"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_GridMosaic" substitutionGroup="gml:AbstractFeature" type="cim:M4G_GridMosaicType">
        <annotation>
            <documentation>The GridMosaic class is used to define the geometry properties of an earth system model grid or an exchange grid. Such a grid definition may then be referenced by any number of earth system models. A GridMosaic object consists either of 1 or more child GridMosaics, or one or more child GridTiles, but not both. In the latter case the isLeaf property should be set to true, indicating that the mosaic is a leaf mosaic.</documentation>
        </annotation>
    </element>
    <complexType name="M4G_GridMosaicType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="shortName" type="string">
                        <annotation>
                            <documentation>Specifies the short name associated with a grid mosaic. The short name will typically be a convenient abbreviation used to refer to a grid mosaic, e.g. 'UM ATM N96'.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="longName" type="string">
                        <annotation>
                            <documentation>Specifies the long name associated with a grid mosaic. The long name will typically be a human-readable string, with acronyms expanded, used for labelling purposes.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string">
                        <annotation>
                            <documentation>A free-text description of a grid mosaic.</documentation>
                        </annotation>
                    </element>
                    <element name="gridType" type="cim:M4G_GridTypeType">
                        <annotation>
                            <documentation>Specifies the type of all the grid tiles contained in a grid mosaic. It is assumed that all of the tiles comprising a given grid mosaic are of the same type. The value domain is as per the specified enumeration list.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="congruentTiles" type="boolean">
                        <annotation>
                            <documentation>Indicates whether or not all the tiles contained within a grid mosaic are congruent, that is, of the same size and shape.</documentation>
                        </annotation>
                    </element>
                    <element name="isLeaf" type="boolean">
                        <annotation>
                            <documentation>Indicates whether or not a grid mosaic is a leaf mosaic, that is, it only contains child grid tiles not further mosaics.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="citationList" type="gmd:CI_Citation_PropertyType">
                        <annotation>
                            <documentation>Optional container element for specifying a list of references that describe the grid.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="numTiles" type="integer">
                        <annotation>
                            <documentation>Specifies the number of tiles associated with a leaf grid mosaic. Set to zero if the grid mosaic is not a leaf mosaic, i.e. it contains child grid mosaics rather than tiles. (Added to align with equivalent ESG/Curator property.)</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="numMosaics" type="integer">
                        <annotation>
                            <documentation>Specifies the number of mosaics associated with a non-leaf grid mosaic. Set to zero if the grid mosaic is a leaf mosaic, i.e. it contains child grid tiles not mosaics.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="extent" type="gmd:EX_GeographicBoundingBox_PropertyType">
                        <annotation>
                            <documentation>The area covered by the mosaic.  Note that this uses a data type from ISO 19115, which specifies WGS84 as the coordinate system.  If this is not appropriate, EX_BoundingPolygon could be used instead.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="mnemonic" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="refinementScheme" type="cim:M4G_RefinementTypeType"/>
                    <element name="gridMosaic" type="cim:M4G_GridMosaicPropertyType"/>
                    <element name="gridTile" type="cim:M4G_GridTilePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_GridMosaicPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_GridMosaic"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_SimpleGridCell" substitutionGroup="cim:M4G_GridCell" type="cim:M4G_SimpleGridCellType">
        <annotation>
            <documentation>The SimpleGridCell class is intended to be used to specify a grid cell of arbitrary polygonal shape. The vertices of the grid cell are specified using the vertexArray property, which contains three or more vertex definitions. Since a vertex is declared to be of type GML PointPropertyType, each vertex may be specified either as a coordinate tuple or as an xlink reference to a vertex defined elsewhere. Vertices should be specified as an ordered sequence, i.e. proceeding clockwise or counterclockwise around the perimeter of the grid cell. Clockwise vertex ordering is a common convention.</documentation>
        </annotation>
    </element>
    <complexType name="M4G_SimpleGridCellType">
        <complexContent>
            <extension base="cim:M4G_GridCellType">
                <sequence>
                    <element name="vertexArray" type="cim:M4G_VertexArrayPropertyType">
                        <annotation>
                            <documentation>The vertexArray attribute is used to specify an array of three or more vertices that define the perimeter of the grid cell. Each vertex member of the array may be specified either as a coordinate tuple or as a reference to a vertex defined remotely.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_SimpleGridCellPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_SimpleGridCell"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_UnstructuredGridCell" substitutionGroup="cim:M4G_GridCell" type="cim:M4G_UnstructuredGridCellType">
        <annotation>
            <documentation>This class is used to define grid cells that form the basis of unstructured triangular or polygonal grids, as per the gridspec paper. The grid cell boundary is defined by specifying three or more edges via the edgeArray property. Each edge member of this array is defined by specifying references to the start and end points of the edge.</documentation>
        </annotation>
    </element>
    <complexType name="M4G_UnstructuredGridCellType">
        <complexContent>
            <extension base="cim:M4G_GridCellType">
                <sequence>
                    <element name="edgeArray" type="cim:M4G_EdgeArrayPropertyType">
                        <annotation>
                            <documentation>The edgeArray attribute is used to specify three or more edges that define the boundary of the grid cell. Each edge member is specified by reference to two remotely-defined grid points. The latter may, for instance, have been defined as part of a SimpleGridCell definition.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_UnstructuredGridCellPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_UnstructuredGridCell"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_GridSpec" substitutionGroup="gml:AbstractFeature" type="cim:M4G_GridSpecType">
        <annotation>
            <documentation>This is a container class for GridSpec objects. A GridSpec object can contain one or more esmModelGrid objects, and one or more esmExchangeGrid objects. These objects may be serialised to one or possibly several files according to taste. </documentation>
        </annotation>
    </element>
    <complexType name="M4G_GridSpecType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="documentMetadata" type="cim:M4C_DocumentMetadataPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="esmModelGrid" type="cim:M4G_GridMosaicPropertyType"/>
                    <element name="esmExchangeGrid" type="cim:M4G_GridMosaicPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_GridSpecPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_GridSpec"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_VerticalCoordList" substitutionGroup="cim:M4G_CoordList" type="cim:M4G_VerticalCoordListType">
        <annotation>
            <documentation>There are some specific attributes that are associated with vertical coordinates.</documentation>
        </annotation>
    </element>
    <complexType name="M4G_VerticalCoordListType">
        <complexContent>
            <extension base="cim:M4G_CoordListType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="coordinateType" type="cim:M4G_VerticalCoordinateTypeType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="property" type="cim:M4G_GridPropertyPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="coordinateForm" type="cim:M4G_VerticalCoordinateFormTypeType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_VerticalCoordListPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_VerticalCoordList"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_GridCellRef" substitutionGroup="gml:AbstractGML" type="cim:M4G_GridCellRefType">
        <annotation>
            <documentation>This data type is used to encode a reference to a grid cell defined as part of some other grid tile, which itself may be part of the same or an entirely separate grid mosaic.

A GridCellRef object consists of a reference to a cell in a separately-defined grid tile, together with an optional fractional area that indicates the portion of the target cell 'occupied' by the referring cell. If this area is not specified, a default value of 1.0 is assumed. A cell reference can be specified either as a sequence of mosaic, tile and cell ID elements, or as a text string attribute (idPath) containing colon-separated ID values terminated with a number representing the fractional area (e.g. "m1:m2:m3:t1:c1:0.5").</documentation>
        </annotation>
    </element>
    <complexType name="M4G_GridCellRefType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="0" name="mosaicID" type="string">
                        <annotation>
                            <documentation>Specifies the ID of a remotely-defined grid mosaic object.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="tileID" type="string">
                        <annotation>
                            <documentation>Specifies the ID of a remotely-defined grid tile object</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="cellID" type="string">
                        <annotation>
                            <documentation>Specifies the ID of a remotely-defined grid cell object</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="fractionalArea" type="double">
                        <annotation>
                            <documentation>This property is used to indicate that a fractional area of the referenced grid cell is to be used in computations using that grid cell. The actual geometry of the fractional part is not defined. If this property is not specified a default value of 1 is assumed.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="idPath" type="string">
                        <annotation>
                            <documentation>The idPath property may be used as a more compact alternative to specifying a grid cell reference. The value of an idPath string is a colon-separated list comprising 1 or more mosaic IDs, a tile ID, a cell ID, and, optionally, a number representing the fractional part.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_GridCellRefPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_GridCellRef"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_SimpleGridGeometry" substitutionGroup="gml:AbstractGML" type="cim:M4G_SimpleGridGeometryType">
        <annotation>
            <documentation>This class may be used to encode the parameters needed to define a simple grid, i.e. a grid based on repeating square or rectangular grid cells.</documentation>
        </annotation>
    </element>
    <complexType name="M4G_SimpleGridGeometryType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="numDims" type="integer">
                        <annotation>
                            <documentation>Specifies the number of dimensions (i.e. the rank) of the grid, e.g. 2 for 2D grids, 3 for 3D grids.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="dimOrder" type="string">
                        <annotation>
                            <documentation>Text string specifying the order in which the coordinate dimensions are traversed. This determines the ordering of grid cells defined by the grid parameters, e.g. row order or column order. The default is "yx" ("zyx" for 3D grids), i.e. row order for logically rectangular grids. This syntax follows CF conventions.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="isMesh" type="boolean">
                        <annotation>
                            <documentation>Set to True if the grid geometry defines a grid mesh that fully partitions a 2D or 3D space. Set to false (the default) if the grid geometry simply defines the locations of grid nodes, making no statement about the shape or extent of surrounding grid cells.</documentation>
                        </annotation>
                    </element>
                    <element name="xcoords" type="cim:M4G_CoordListPropertyType">
                        <annotation>
                            <documentation>Specifies the X (or i) coordinate of each 'vertical' grid line making up the grid mesh. For uniform grids (square or rectangular cells), only two X coordinates are required: the X coordinate of the initial grid node, plus the offset or spacing between successive grid nodes.</documentation>
                        </annotation>
                    </element>
                    <element name="ycoords" type="cim:M4G_CoordListPropertyType">
                        <annotation>
                            <documentation>Specifies the Y (or j) coordinate of each 'horizontal' grid line making up the grid mesh. For uniform grids (square or rectangular cells), only two Y coordinates are required: the Y coordinate of the initial grid node, plus the offset or spacing between successive grid nodes.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="zcoords" type="cim:M4G_CoordListPropertyType">
                        <annotation>
                            <documentation>For 3D grids, specifies the Z coordinates of the grid.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_SimpleGridGeometryPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_SimpleGridGeometry"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_GridTileResolution" substitutionGroup="gml:AbstractGML" type="cim:M4G_GridTileResolutionType">
        <annotation>
            <documentation>Provides a description and set of named properties for the horizontal or vertical resolution.</documentation>
        </annotation>
    </element>
    <complexType name="M4G_GridTileResolutionType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string">
                        <annotation>
                            <documentation>A description of the resolution.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="property" type="cim:M4G_GridPropertyPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_GridTileResolutionPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_GridTileResolution"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_GridCellRefArray" substitutionGroup="gml:AbstractGML" type="cim:M4G_GridCellRefArrayType">
        <annotation>
            <documentation>Simple data type for encapsulating an array of grid cell reference definitions.</documentation>
        </annotation>
    </element>
    <complexType name="M4G_GridCellRefArrayType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="gridCellRef" type="cim:M4G_GridCellRefPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_GridCellRefArrayPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_GridCellRefArray"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_VertexArray" substitutionGroup="gml:AbstractGML" type="cim:M4G_VertexArrayType"/>
    <complexType name="M4G_VertexArrayType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="3" name="vertex" type="gml:PointPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_VertexArrayPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_VertexArray"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_GridProperty" substitutionGroup="gml:AbstractGML" type="cim:M4G_GridPropertyType"/>
    <complexType name="M4G_GridPropertyType">
        <complexContent>
            <extension base="gml:AbstractGMLType"/>
        </complexContent>
    </complexType>
    <complexType name="M4G_GridPropertyPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_GridProperty"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_GridCellArray" substitutionGroup="gml:AbstractGML" type="cim:M4G_GridCellArrayType">
        <annotation>
            <documentation>Simple data type for encapsulating an array of grid cell definitions.</documentation>
        </annotation>
    </element>
    <complexType name="M4G_GridCellArrayType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="gridCell" type="cim:M4G_GridCellPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_GridCellArrayPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_GridCellArray"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_CoordList" substitutionGroup="gml:AbstractGML" type="cim:M4G_CoordListType">
        <annotation>
            <documentation>The CoordList type may be used to specify a list of coordinates, typically for the purpose of defining coordinates along the X, Y or Z axes. The length of the coordinate list is given by the attribute of that name. This may be used by software to allocate memory in advance of storing the coordinate values. The hasConstantOffset attribute may be used to indicate that the coordinate list consists of values with constant offset (spacing). In this case only the first coordinate value and the offset (spacing) value need to be specified; however, the length attribute must still define the final 'as-built' size of the coordinate list.</documentation>
        </annotation>
    </element>
    <complexType name="M4G_CoordListType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="length" type="integer">
                        <annotation>
                            <documentation>Specifies the length of the coordinate array. This should always be the final, as-built length of the array if the hasConstantOffset property is set to true and the compact notation (start coordinate plus offset) is used.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="hasConstantOffset" type="boolean">
                        <annotation>
                            <documentation>Set to true if coordinates in the built array have constant offset.</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="uom" type="gml:UnitOfMeasureType">
                        <annotation>
                            <documentation>Units of measure used by the coordinates.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4G_CoordListPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4G_CoordList"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4G_EdgeArray" substitutionGroup="gml:AbstractObject" type="cim:M4G_EdgeArrayType">
        <annotation>
            <documentation>Simple data type for encapsulating an array of grid cell edge definitions.</documentation>
        </annotation>
    </element>
    <complexType name="M4G_EdgeArrayType">
        <sequence>
            <element maxOccurs="unbounded" minOccurs="3" name="edge" type="gml:DirectedEdgePropertyType"/>
        </sequence>
    </complexType>
    <complexType name="M4G_EdgeArrayPropertyType">
        <sequence>
            <element ref="cim:M4G_EdgeArray"/>
        </sequence>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="M4G_RefinementTypeType">
        <restriction base="string">
            <enumeration value="rational">
                <annotation>
                    <documentation>The refinement is rational when the adjacent or overlapping grid tiles have grid line counts that are coprime (i.e. no common factor other than 1).</documentation>
                </annotation>
            </enumeration>
            <enumeration value="none">
                <annotation>
                    <documentation>Tile boundaries have no refinement when the grid lines meeting at the tile boundary are continuous.</documentation>
                </annotation>
            </enumeration>
            <enumeration value="integer">
                <annotation>
                    <documentation>The refinement is integer when grid lines from the coarser grid are continuous on the finer grid, but not vice versa.</documentation>
                </annotation>
            </enumeration>
        </restriction>
    </simpleType>
    <simpleType name="M4G_VerticalCoordinateTypeType">
        <restriction base="string">
            <enumeration value="not-applicable"/>
            <enumeration value="hybrid"/>
            <enumeration value="mass-based"/>
            <enumeration value="terrain-following"/>
            <enumeration value="space-based"/>
        </restriction>
    </simpleType>
    <simpleType name="M4G_VerticalCoordinateFormTypeType">
        <restriction base="string">
            <enumeration value="sigma"/>
            <enumeration value="S-coordinate"/>
        </restriction>
    </simpleType>
    <simpleType name="M4G_GridTypeType">
        <restriction base="string">
            <enumeration value="other"/>
            <enumeration value="composite"/>
            <enumeration value="yin_yang"/>
            <enumeration value="tripolar"/>
            <enumeration value="spectral_gaussian"/>
            <enumeration value="regular_lat_lon"/>
            <enumeration value="reduced_gaussian"/>
            <enumeration value="icosahedral_geodesic"/>
            <enumeration value="cubed_sphere"/>
            <enumeration value="displaced_pole"/>
        </restriction>
    </simpleType>
    <simpleType name="M4G_DiscretizationTypeType">
        <restriction base="string">
            <enumeration value="other"/>
            <enumeration value="unstructured_polygonal"/>
            <enumeration value="pixel-based_catchment"/>
            <enumeration value="unstructured_triangular"/>
            <enumeration value="logically_rectangular"/>
            <enumeration value="structured_triangular"/>
        </restriction>
    </simpleType>
</schema>