schemas/cimQuality.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:cim="http://www.purl.org/org/esmetadata/cim/1.9.2/schemas" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" targetNamespace="http://www.purl.org/org/esmetadata/cim/1.9.2/schemas" elementFormDefault="qualified" attributeFormDefault="unqualified"><!-- Schema auto-generated by FullMoon, applying rule suite xmi11ea -->
    <annotation>
        <documentation>A package containing the quality record classes.</documentation>
    </annotation>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
    <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gco/gco.xsd"/>
    <include schemaLocation="cimCommon.xsd"/>
    <element name="M4Q_Quality" substitutionGroup="gml:AbstractFeature" type="cim:M4Q_QualityType">
        <annotation>
            <documentation>The starting point for a quality record.  It can contain any number of issues and reports.  An issue is an open-ended description of some issue about a CIM instance.  A record is a prescribed description of some specific quantitative measure that has been applied to a CIM instance.</documentation>
        </annotation>
    </element>
    <complexType name="M4Q_QualityType">
        <complexContent>
            <extension base="gml:AbstractFeatureType">
                <sequence>
                    <element name="scope" type="cim:M4Q_ScopePropertyType">
                        <annotation>
                            <documentation>the specific data to which the quality information applies</documentation>
                        </annotation>
                    </element>
                    <element name="documentMetadata" type="cim:M4C_DocumentMetadataPropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="issue" type="cim:M4Q_QualityIssuePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="report" type="cim:M4Q_DomainConsistencyPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4Q_QualityPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4Q_Quality"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4Q_QualityDetail" substitutionGroup="gml:AbstractGML" type="cim:M4Q_QualityDetailType">
        <annotation>
            <documentation>Locates the "target" of a CIM QualityIssue. </documentation>
        </annotation>
    </element>
    <complexType name="M4Q_QualityDetailType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="detailedDescription" type="string">
                        <annotation>
                            <documentation>A detailed description of the issue.</documentation>
                        </annotation>
                    </element>
                    <element name="target" type="gmd:CI_OnlineResource_PropertyType">
                        <annotation>
                            <documentation>The instance to which this quality detail record applies.
NOTE: We probably want to use MOLES MO_OnlineResource</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4Q_QualityDetailPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4Q_QualityDetail"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4Q_Scope" substitutionGroup="gmd:DQ_Scope" type="cim:M4Q_ScopeType"/>
    <complexType name="M4Q_ScopeType">
        <complexContent>
            <extension base="gmd:DQ_Scope_Type">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="availableAt" type="gmd:CI_OnlineResource_PropertyType"/>
                    <element name="target" type="gmd:CI_OnlineResource_PropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4Q_ScopePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4Q_Scope"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4Q_QualityResolution2" substitutionGroup="gml:AbstractGML" type="cim:M4Q_QualityResolution2Type">
        <annotation>
            <documentation>A description of what action was taken because of a quality issue.</documentation>
        </annotation>
    </element>
    <complexType name="M4Q_QualityResolution2Type">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="dateTime" type="dateTime">
                        <annotation>
                            <documentation>date of resolution information</documentation>
                        </annotation>
                    </element>
                    <element name="resolutionDescription" type="string">
                        <annotation>
                            <documentation>description of resolution of quality issues - including external references if required</documentation>
                        </annotation>
                    </element>
                    <element name="resolvedBy" type="cim:M4C_ResponsiblePartyPropertyType">
                        <annotation>
                            <documentation>person/organisation responsible for resolution, or the person/organisation who should be contacted with any queries about the resolution of this quality issue</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4Q_QualityResolution2PropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4Q_QualityResolution2"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4Q_Measure" substitutionGroup="gml:AbstractGML" type="cim:M4Q_MeasureType"/>
    <complexType name="M4Q_MeasureType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="evaluationMethodDescription" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="evaluationMethodType" type="gmd:DQ_EvaluationMethodTypeCode_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="evaluationProcedure" type="gmd:CI_Citation_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="measureDescription" type="string"/>
                    <element maxOccurs="1" minOccurs="0" name="measureIdentification" type="gmd:MD_Identification_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="nameOfMeasure" type="string"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4Q_MeasurePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4Q_Measure"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4Q_QualityIssue" substitutionGroup="gml:AbstractGML" type="cim:M4Q_QualityIssueType">
        <annotation>
            <documentation>Records an issue with an instance of the CIM.  The particular part of the instance being referred to is captured by the detail attribute(s).  A resolution can be added to a quality issue.  A single issue can have multiple subissues.</documentation>
        </annotation>
    </element>
    <complexType name="M4Q_QualityIssueType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="issueCreationDate" type="dateTime">
                        <annotation>
                            <documentation>date (and time) issue was added to CIM</documentation>
                        </annotation>
                    </element>
                    <element name="issueDescription" type="string">
                        <annotation>
                            <documentation>summary description of quality issue</documentation>
                        </annotation>
                    </element>
                    <element name="issueIdentifiedBy" type="cim:M4C_ResponsiblePartyPropertyType">
                        <annotation>
                            <documentation>person/organisation responsible for identifying this quality issue</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="issueResponsibilityOf" type="cim:M4C_ResponsiblePartyPropertyType">
                        <annotation>
                            <documentation>person/organisation allocated the responsibuility for addressing this issue</documentation>
                        </annotation>
                    </element>
                    <element name="issueSeverity" type="cim:M4Q_QualitySeverityTypeType">
                        <annotation>
                            <documentation>severity of issue (e.g. potential, minor, major etc).</documentation>
                        </annotation>
                    </element>
                    <element name="issueStatus" type="cim:M4Q_QualityStatusTypeType">
                        <annotation>
                            <documentation>current status of this issue (e.g. open, investigation, closed, etc). </documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="1" minOccurs="0" name="issueType" type="cim:M4Q_QualityIssueTypeType">
                        <annotation>
                            <documentation>type of quality issue (e.g. metadata, data etc).</documentation>
                        </annotation>
                    </element>
                    <element maxOccurs="unbounded" minOccurs="0" name="subIssue" type="cim:M4Q_QualityIssuePropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="partialResolution" type="cim:M4Q_QualityResolution2PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="finalResolution" type="cim:M4Q_QualityResolution2PropertyType"/>
                    <element maxOccurs="unbounded" minOccurs="0" name="detail" type="cim:M4Q_QualityDetailPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4Q_QualityIssuePropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4Q_QualityIssue"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4Q_DomainConsistency" substitutionGroup="gmd:DQ_DomainConsistency" type="cim:M4Q_DomainConsistencyType"/>
    <complexType name="M4Q_DomainConsistencyType">
        <complexContent>
            <extension base="gmd:DQ_DomainConsistency_Type">
                <sequence>
                    <element maxOccurs="1" minOccurs="0" name="evaluator" type="cim:M4C_ResponsiblePartyPropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="measure" type="cim:M4Q_MeasurePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4Q_DomainConsistencyPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4Q_DomainConsistency"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4Q_Result" substitutionGroup="gml:AbstractGML" type="cim:M4Q_ResultType"/>
    <complexType name="M4Q_ResultType">
        <complexContent>
            <extension base="gml:AbstractGMLType">
                <sequence>
                    <element name="availableFrom" type="gmd:CI_OnlineResource_PropertyType"/>
                    <element maxOccurs="1" minOccurs="0" name="description" type="string"/>
                    <element name="resultType" type="cim:M4Q_ResultTypeType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4Q_ResultPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4Q_Result"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <element name="M4Q_ResultSet" substitutionGroup="gmd:AbstractDQ_Result" type="cim:M4Q_ResultSetType"/>
    <complexType name="M4Q_ResultSetType">
        <complexContent>
            <extension base="gmd:AbstractDQ_Result_Type">
                <sequence>
                    <element maxOccurs="unbounded" minOccurs="1" name="member" type="cim:M4Q_ResultPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="M4Q_ResultSetPropertyType">
        <sequence minOccurs="0">
            <element ref="cim:M4Q_ResultSet"/>
        </sequence>
        <attributeGroup ref="gml:AssociationAttributeGroup"/>
        <attributeGroup ref="gml:OwnershipAttributeGroup"/>
    </complexType>
    <simpleType name="M4Q_QualityIssueTypeType">
        <restriction base="string">
            <enumeration value="science"/>
            <enumeration value="data_indexing"/>
            <enumeration value="data_content"/>
            <enumeration value="metadata"/>
            <enumeration value="data_format"/>
        </restriction>
    </simpleType>
    <simpleType name="M4Q_QualitySeverityTypeType">
        <restriction base="string">
            <enumeration value="major"/>
            <enumeration value="cosmetic"/>
            <enumeration value="minor"/>
        </restriction>
    </simpleType>
    <simpleType name="M4Q_QualityStatusTypeType">
        <restriction base="string">
            <enumeration value="resolved"/>
            <enumeration value="partially_resolved"/>
            <enumeration value="reported"/>
            <enumeration value="confirmed"/>
        </restriction>
    </simpleType>
    <simpleType name="M4Q_ResultTypeType">
        <restriction base="string">
            <enumeration value="logfile"/>
            <enumeration value="plot"/>
            <enumeration value="document"/>
        </restriction>
    </simpleType>
</schema>