data/myConCIM-dev0p2/quality/quality.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- quality.xsd -->
<!-- generated: 10 December 2008 -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gml="http://www.opengis.net/gml">
	<xs:include schemaLocation="../cim.xsd"/>
	<xs:include schemaLocation="../activity/activity.xsd"/>
	<xs:include schemaLocation="../data/data.xsd"/>
	<xs:include schemaLocation="../grids/grids.xsd"/>
	<xs:include schemaLocation="../shared/shared.xsd"/>
	<xs:include schemaLocation="../software/software.xsd"/>
	<xs:simpleType name="QualityStatusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="confirmed"/>
			<xs:enumeration value="partially_resolved"/>
			<xs:enumeration value="reported"/>
			<xs:enumeration value="resolved"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DateTime">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="LI_Linage">
		<xs:annotation>
			<xs:documentation>describes the processing steps applied to the data within the quality scope</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="MD_ScopeDescription">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="DQ_EvaluationMethodTypeCode">
		<xs:annotation>
			<xs:documentation>Values taken from ISO19115.  These probably need to be replaced/extended with CIM specific values.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="directExternal"/>
			<xs:enumeration value="directInternal"/>
			<xs:enumeration value="indirect"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DQ_Result">
		<xs:annotation>
			<xs:documentation>generalisation of more specific result classes</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="MD_ScopeCode">
		<xs:annotation>
			<xs:documentation>Relatively few of the scope codes defined in ISO19115 are relevant to CIM.  I have therefore added a number of additional scope types - these are indicated with a trailing asterisk.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="dataset"/>
			<xs:enumeration value="ensemble*"/>
			<xs:enumeration value="experiment*"/>
			<xs:enumeration value="file*"/>
			<xs:enumeration value="metadata*">
				<xs:annotation>
					<xs:documentation>This would cover quality issues with the CIM itself</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="model"/>
			<xs:enumeration value="modelComponent*"/>
			<xs:enumeration value="numericalRequirement*"/>
			<xs:enumeration value="service"/>
			<xs:enumeration value="simulation*"/>
			<xs:enumeration value="software"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CI_DateTypeCode">
		<xs:annotation>
			<xs:documentation>These are the date types defined in the ISO19115 standard - we may need to add additional terms</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="creation"/>
			<xs:enumeration value="publication"/>
			<xs:enumeration value="revision"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CIM">
		<xs:sequence>
			<xs:element name="dQ_Quality" type="DQ_Quality"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CIM_FeatureType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="DQ_Element">
		<xs:annotation>
			<xs:documentation>aspect of <b>quantitative </b>quality information - within ISO 19115 it can be specified as:
<ul>
					<li>DQ_Completeness</li>
					<li>DQ_LogicalConsistency</li>
					<li>DQ_PositionalAccuracy</li>
					<li>DQ_ThematicAccuracy</li>
					<li>DQ_TemporalAccuracy</li>
				</ul>
These five entities represent elements of data quality and can be further subclasses to the subelements of data quality (e.g. DQ_LogicalConsitency -&gt; DQ_FormatConsistency).  ISO19115 specifically supports the addition of other elements and we will probably want to revisit this entire area and add METAFOR specific elements.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dQ_Quality" type="DQ_Quality"/>
			<xs:element name="dateTime" type="DateTime" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>date or range of dates on which a data quality measure was applied</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="evaluationMethodDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>description of the evaluation method</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="evaluationProcedure" type="CI_Citation" minOccurs="0">
				<xs:annotation>
					<xs:documentation>reference to the evaluation procedure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="measureDescription" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>description of the measure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="measureIdentification" type="MD_Identifier" minOccurs="0">
				<xs:annotation>
					<xs:documentation>code identifying a registered standard procedure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameOfMeasure" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>name of the test applied to the data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="result" type="DQ_Result" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>value (or set of values) obtained from applying a data quality measure or the outcome of evaluating the obtained value (or set of values) against a specified acceptable conformance quality level.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="evaluationMethodType" type="DQ_EvaluationMethodTypeCode" use="optional">
			<xs:annotation>
				<xs:documentation>type of method use to evaluate quality of dataset</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="anyURI">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="DQ_ConformanceResult">
		<xs:annotation>
			<xs:documentation>information about the outcome of evaluating the obtained value (or set of values) against a specified acceptable conformance quality level</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DQ_Result">
				<xs:sequence>
					<xs:element name="explanation" type="xs:string">
						<xs:annotation>
							<xs:documentation>explanation of the meaning of confirmance for this result</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="specification" type="CI_Citation">
						<xs:annotation>
							<xs:documentation>citation of product specification or user requirement against which data is evaluated</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="pass" type="xs:boolean" use="required">
					<xs:annotation>
						<xs:documentation>indication of the conformance result where 0 = fail and 1 = pass</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CIM_Description">
		<xs:sequence>
			<xs:element name="issueDescription" type="CIM_Description"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CI_OnlineFunctionCode">
		<xs:annotation>
			<xs:documentation>These are the online service codes defined in the ISO19115 standard - not all will be relevant to the CIM, and we may need to add additional terms  (e.g.  query, compare, publish, etc.)</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="download"/>
			<xs:enumeration value="information"/>
			<xs:enumeration value="offline_access"/>
			<xs:enumeration value="order"/>
			<xs:enumeration value="search"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RecordType">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="DQ_QualitativeResult">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="CI_RoleCode">
		<xs:annotation>
			<xs:documentation>These are the roles defined in the ISO19115 standard - not all will be relevant to the CIM, and we may need to add additional terms</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="author"/>
			<xs:enumeration value="custodian"/>
			<xs:enumeration value="distributor"/>
			<xs:enumeration value="originator"/>
			<xs:enumeration value="owner"/>
			<xs:enumeration value="pointofContact"/>
			<xs:enumeration value="principalInvestigator"/>
			<xs:enumeration value="processor"/>
			<xs:enumeration value="publisher"/>
			<xs:enumeration value="resourceProvider"/>
			<xs:enumeration value="user"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Record">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="UnitOfMeasure">
		<xs:annotation>
			<xs:documentation>An ISO19115 enumeration.  This probably needs to be entirely replaced by something from the CF vocabulary.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="degrees_C"/>
			<xs:enumeration value="etc."/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="DQ_Scope">
		<xs:sequence>
			<xs:element name="extent" type="EX_Extent" minOccurs="0">
				<xs:annotation>
					<xs:documentation>information about the horizontal, vertical and temporal extent of the data specified by the scope.  Defined in ISO19115 using attributes such as minimumValue and maximumValue for vertical extent.  This class will need to be modified for CIM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="levelDescription" type="MD_ScopeDescription" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>detailed description about the level of the data specified by the scope - defined in IS19115 in terms of sets of features, attributes, feature instances, attribute instances and dataset.  This will need some modification for CIM.  Perhaps extend this class with basic MF_description to allow a variety of descriptions, or extend the 'sets of things' to cover items of relevance to climate science e.g. files, geophysical parameters, ensemble elements etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="level" type="MD_ScopeCode" use="required">
			<xs:annotation>
				<xs:documentation>hierarchical level of the data specified by the scope.  Will need customisation for METAFOR</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:simpleType name="CI_CitationPresentationFormCode">
		<xs:annotation>
			<xs:documentation>This is the ISO19115 enumeration.  We may want to extend this list to deal with climate science specific presentations.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="documentDigital"/>
			<xs:enumeration value="documentHardcopy"/>
			<xs:enumeration value="imageDigital"/>
			<xs:enumeration value="imageHardcopy"/>
			<xs:enumeration value="mapDigital"/>
			<xs:enumeration value="mapHardcopy"/>
			<xs:enumeration value="modelDigital"/>
			<xs:enumeration value="modelHardcopy"/>
			<xs:enumeration value="profileDigital"/>
			<xs:enumeration value="profileHardcopy"/>
			<xs:enumeration value="tableDigital"/>
			<xs:enumeration value="tableHardcopy"/>
			<xs:enumeration value="videoDigital"/>
			<xs:enumeration value="videoHardcopy"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="QualityIssueType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="data_content"/>
			<xs:enumeration value="data_format"/>
			<xs:enumeration value="data_indexing"/>
			<xs:enumeration value="metadata"/>
			<xs:enumeration value="science"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="EX_Extent">
		<xs:sequence/>
	</xs:complexType>
	<xs:simpleType name="QualitySeverityType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="cosmetic"/>
			<xs:enumeration value="major"/>
			<xs:enumeration value="minor"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CIM_QualityDetail">
		<xs:sequence>
			<xs:element name="cIM_QualityIssue" type="CIM_QualityIssue"/>
			<xs:element name="detailDescription" type="CIM_Description" minOccurs="0">
				<xs:annotation>
					<xs:documentation>a description of the quality issue with reference to this specific feature</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="feature" type="xs:anyURI">
				<xs:annotation>
					<xs:documentation>the reference to the specific feature (e.g. a URI to a file)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="featureType" type="CIM_FeatureType">
				<xs:annotation>
					<xs:documentation>the type of feature that the quality issue refers too (for METAFOR this could be simulation, file, boundary condition etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CIM_QualityIssue">
		<xs:sequence>
			<xs:element name="cIM_QualityDetail" type="CIM_QualityDetail" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dQ_Quality" type="DQ_Quality"/>
			<xs:element name="cIM_QualityIssue" type="CIM_QualityIssue" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="cIM_QualityResolution" type="CIM_QualityResolution" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="dateTime" type="DateTime">
				<xs:annotation>
					<xs:documentation>date (and time) issue was added to CIM</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueDescription" type="CIM_Description">
				<xs:annotation>
					<xs:documentation>summary description of quality issue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueIdentifiedBy" type="CI_ResponsibleParty">
				<xs:annotation>
					<xs:documentation>person/organisation responsible for identifying this quality issue</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="issueResponsibilityOf" type="CI_ResponsibleParty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>person/organisation allocated the responsibuility for addressing this issue</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="issueSeverity" type="QualitySeverityType" use="required">
			<xs:annotation>
				<xs:documentation>severity of issue (e.g. potential, minor, major etc. - enumeration list will need to be defined for METAFOR</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="issueStatus" type="QualityStatusType" use="required">
			<xs:annotation>
				<xs:documentation>current status of this issue (e.g. open, investigation, closed, etc. - enumeration values to be defined for METAFOR)</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="issueType" type="QualityIssueType" use="optional">
			<xs:annotation>
				<xs:documentation>type of quality issue (e.g. metadata, data etc. - enumeration list needs to be defined for METAFOR</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CIM_QualityResolution">
		<xs:sequence>
			<xs:element name="cIM_QualityIssue" type="CIM_QualityIssue"/>
			<xs:element name="dateTime" type="DateTime">
				<xs:annotation>
					<xs:documentation>date of resolution information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resolutionDescription" type="CIM_Description">
				<xs:annotation>
					<xs:documentation>description of resolution of quality issues - including external references if required</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="resolvedBy" type="CI_ResponsibleParty">
				<xs:annotation>
					<xs:documentation>person/organisation responsible for resolution, or the person/organisation who should be contacted with any queries about the resolution of this quality issue</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DQ_QuantitativeResult">
		<xs:annotation>
			<xs:documentation>the values or information about the value(s) (or set of values) obtained from applying a data quality measure</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DQ_Result">
				<xs:sequence>
					<xs:element name="errorStatistic" type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation>statistical method used to determine the value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="Record" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>quantitative value or values, content determined by the evaluation procedure used</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="valueType" type="RecordType" minOccurs="0">
						<xs:annotation>
							<xs:documentation>value type for reporting a data quality result</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="valueUnit" type="UnitOfMeasure" use="required">
					<xs:annotation>
						<xs:documentation>value unit for reporting a data quality result</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="MF_Description">
		<xs:annotation>
			<xs:documentation>A standard METAFOR class to handle descriptions which would be used across the entire CIM.  It should include both free text and description by reference (xlink).</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:complexType name="MD_Identifier">
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="DQ_Quality">
		<xs:sequence>
			<xs:element name="cIM" type="CIM"/>
			<xs:element name="dQ_Element" type="DQ_Element" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="cIM_QualityIssue" type="CIM_QualityIssue" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="scope" type="DQ_Scope">
				<xs:annotation>
					<xs:documentation>the specific data to which the quality information applies</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
